<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\CreateCardRequest;
use SquareConnectAPILib\Models\CreateCardResponse;
use SquareConnectAPILib\Models\DisableCardResponse;
use SquareConnectAPILib\Models\ListCardsResponse;
use SquareConnectAPILib\Models\RetrieveCardResponse;

class CardsController extends BaseController
{
    /**
     * Retrieves a list of cards owned by the account making the request.
     * A max of 25 cards will be returned.
     *
     * @param string|null $cursor A pagination cursor returned by a previous call to this endpoint.
     *        Provide this to retrieve the next set of results for your original query.
     *
     *        See [Pagination](https://developer.squareup.com/docs/basics/api101/pagination) for
     *        more information.
     * @param string|null $customerId Limit results to cards associated with the customer supplied.
     *        By default, all cards owned by the merchant are returned.
     * @param bool|null $includeDisabled Includes disabled cards. By default, all enabled cards
     *        owned by the merchant are returned.
     * @param string|null $referenceId Limit results to cards associated with the reference_id
     *        supplied.
     * @param string|null $sortOrder Sorts the returned list by when the card was created with the
     *        specified order.
     *        This field defaults to ASC.
     *
     * @return ListCardsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listCards(
        ?string $cursor = null,
        ?string $customerId = null,
        ?bool $includeDisabled = null,
        ?string $referenceId = null,
        ?string $sortOrder = null
    ): ListCardsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/cards')
            ->auth('oauth2')
            ->parameters(
                QueryParam::init('cursor', $cursor),
                QueryParam::init('customer_id', $customerId),
                QueryParam::init('include_disabled', $includeDisabled),
                QueryParam::init('reference_id', $referenceId),
                QueryParam::init('sort_order', $sortOrder)
            );

        $_resHandler = $this->responseHandler()->type(ListCardsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Adds a card on file to an existing merchant.
     *
     * @param CreateCardRequest $body An object containing the fields to POST for the request. See
     *        the corresponding object definition for field details.
     *
     * @return CreateCardResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createCard(CreateCardRequest $body): CreateCardResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/cards')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(CreateCardResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves details for a specific Card.
     *
     * @param string $cardId Unique ID for the desired Card.
     *
     * @return RetrieveCardResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveCard(string $cardId): RetrieveCardResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/cards/{card_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('card_id', $cardId));

        $_resHandler = $this->responseHandler()->type(RetrieveCardResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Disables the card, preventing any further updates or charges.
     * Disabling an already disabled card is allowed but has no effect.
     *
     * @param string $cardId Unique ID for the desired Card.
     *
     * @return DisableCardResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function disableCard(string $cardId): DisableCardResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/cards/{card_id}/disable')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('card_id', $cardId));

        $_resHandler = $this->responseHandler()->type(DisableCardResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
