<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\BatchDeleteCatalogObjectsRequest;
use SquareConnectAPILib\Models\BatchDeleteCatalogObjectsResponse;
use SquareConnectAPILib\Models\BatchRetrieveCatalogObjectsRequest;
use SquareConnectAPILib\Models\BatchRetrieveCatalogObjectsResponse;
use SquareConnectAPILib\Models\BatchUpsertCatalogObjectsRequest;
use SquareConnectAPILib\Models\BatchUpsertCatalogObjectsResponse;
use SquareConnectAPILib\Models\CatalogInfoResponse;
use SquareConnectAPILib\Models\DeleteCatalogObjectResponse;
use SquareConnectAPILib\Models\ListCatalogResponse;
use SquareConnectAPILib\Models\RetrieveCatalogObjectResponse;
use SquareConnectAPILib\Models\SearchCatalogItemsRequest;
use SquareConnectAPILib\Models\SearchCatalogItemsResponse;
use SquareConnectAPILib\Models\SearchCatalogObjectsRequest;
use SquareConnectAPILib\Models\SearchCatalogObjectsResponse;
use SquareConnectAPILib\Models\UpdateItemModifierListsRequest;
use SquareConnectAPILib\Models\UpdateItemModifierListsResponse;
use SquareConnectAPILib\Models\UpdateItemTaxesRequest;
use SquareConnectAPILib\Models\UpdateItemTaxesResponse;
use SquareConnectAPILib\Models\UpsertCatalogObjectRequest;
use SquareConnectAPILib\Models\UpsertCatalogObjectResponse;

class CatalogController extends BaseController
{
    /**
     * Deletes a set of [CatalogItem](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/CatalogItem)s based on the
     * provided list of target IDs and returns a set of successfully deleted IDs in
     * the response. Deletion is a cascading event such that all children of the
     * targeted object are also deleted. For example, deleting a CatalogItem will
     * also delete all of its [CatalogItemVariation](https://developer.squareup.com/reference/square_2021-
     * 08-18/objects/CatalogItemVariation)
     * children.
     *
     * `BatchDeleteCatalogObjects` succeeds even if only a portion of the targeted
     * IDs can be deleted. The response will only include IDs that were
     * actually deleted.
     *
     * @param BatchDeleteCatalogObjectsRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return BatchDeleteCatalogObjectsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function batchDeleteCatalogObjects(
        BatchDeleteCatalogObjectsRequest $body
    ): BatchDeleteCatalogObjectsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/catalog/batch-delete')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(BatchDeleteCatalogObjectsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a set of objects based on the provided ID.
     * Each [CatalogItem](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogItem)
     * returned in the set includes all of its
     * child information including: all of its
     * [CatalogItemVariation](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/CatalogItemVariation) objects, references to
     * its [CatalogModifierList](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/CatalogModifierList) objects, and the ids of
     * any [CatalogTax](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogTax)
     * objects that apply to it.
     *
     * @param BatchRetrieveCatalogObjectsRequest $body An object containing the fields to POST for
     *        the request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return BatchRetrieveCatalogObjectsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function batchRetrieveCatalogObjects(
        BatchRetrieveCatalogObjectsRequest $body
    ): BatchRetrieveCatalogObjectsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/catalog/batch-retrieve')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(BatchRetrieveCatalogObjectsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates or updates up to 10,000 target objects based on the provided
     * list of objects. The target objects are grouped into batches and each batch is
     * inserted/updated in an all-or-nothing manner. If an object within a batch is
     * malformed in some way, or violates a database constraint, the entire batch
     * containing that item will be disregarded. However, other batches in the same
     * request may still succeed. Each batch may contain up to 1,000 objects, and
     * batches will be processed in order as long as the total object count for the
     * request (items, variations, modifier lists, discounts, and taxes) is no more
     * than 10,000.
     *
     * @param BatchUpsertCatalogObjectsRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return BatchUpsertCatalogObjectsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function batchUpsertCatalogObjects(
        BatchUpsertCatalogObjectsRequest $body
    ): BatchUpsertCatalogObjectsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/catalog/batch-upsert')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(BatchUpsertCatalogObjectsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves information about the Square Catalog API, such as batch size
     * limits that can be used by the `BatchUpsertCatalogObjects` endpoint.
     *
     * @return CatalogInfoResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function catalogInfo(): CatalogInfoResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/catalog/info')->auth('oauth2');

        $_resHandler = $this->responseHandler()->type(CatalogInfoResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a list of [CatalogObject](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/CatalogObject)s that includes
     * all objects of a set of desired types (for example, all [CatalogItem](https://developer.squareup.
     * com/reference/square_2021-08-18/objects/CatalogItem)
     * and [CatalogTax](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogTax)
     * objects) in the catalog. The `types` parameter
     * is specified as a comma-separated list of valid [CatalogObject](https://developer.squareup.
     * com/reference/square_2021-08-18/objects/CatalogObject) types:
     * `ITEM`, `ITEM_VARIATION`, `MODIFIER`, `MODIFIER_LIST`, `CATEGORY`, `DISCOUNT`, `TAX`, `IMAGE`.
     *
     * __Important:__ ListCatalog does not return deleted catalog items. To retrieve
     * deleted catalog items, use [SearchCatalogObjects](https://developer.squareup.
     * com/reference/square_2021-08-18/catalog-api/search-catalog-objects)
     * and set the `include_deleted_objects` attribute value to `true`.
     *
     * @param string|null $cursor The pagination cursor returned in the previous response. Leave
     *        unset for an initial request.
     *        The page size is currently set to be 100.
     *        See [Pagination](https://developer.squareup.com/docs/basics/api101/pagination) for
     *        more information.
     * @param string|null $types An optional case-insensitive, comma-separated list of object types
     *        to retrieve.
     *
     *        The valid values are defined in the [CatalogObjectType](https://developer.squareup.
     *        com/reference/square_2021-08-18/enums/CatalogObjectType) enum, including
     *        `ITEM`, `ITEM_VARIATION`, `CATEGORY`, `DISCOUNT`, `TAX`,
     *        `MODIFIER`, `MODIFIER_LIST`, or `IMAGE`.
     *
     *        If this is unspecified, the operation returns objects of all the types at the
     *        version of the Square API used to make the request.
     * @param int|null $catalogVersion The specific version of the catalog objects to be included in
     *        the response.
     *        This allows you to retrieve historical
     *        versions of objects. The specified version value is matched against
     *        the [CatalogObject](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/CatalogObject)s' `version` attribute.
     *
     * @return ListCatalogResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listCatalog(
        ?string $cursor = null,
        ?string $types = null,
        ?int $catalogVersion = null
    ): ListCatalogResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/catalog/list')
            ->auth('oauth2')
            ->parameters(
                QueryParam::init('cursor', $cursor),
                QueryParam::init('types', $types),
                QueryParam::init('catalog_version', $catalogVersion)
            );

        $_resHandler = $this->responseHandler()->type(ListCatalogResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates or updates the target [CatalogObject](https://developer.squareup.com/reference/square_2021-
     * 08-18/objects/CatalogObject).
     *
     * @param UpsertCatalogObjectRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return UpsertCatalogObjectResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function upsertCatalogObject(UpsertCatalogObjectRequest $body): UpsertCatalogObjectResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/catalog/object')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(UpsertCatalogObjectResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes a single [CatalogObject](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/CatalogObject) based on the
     * provided ID and returns the set of successfully deleted IDs in the response.
     * Deletion is a cascading event such that all children of the targeted object
     * are also deleted. For example, deleting a [CatalogItem](https://developer.squareup.
     * com/reference/square_2021-08-18/objects/CatalogItem)
     * will also delete all of its
     * [CatalogItemVariation](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/CatalogItemVariation) children.
     *
     * @param string $objectId The ID of the catalog object to be deleted. When an object is
     *        deleted, other
     *        objects in the graph that depend on that object will be deleted as well (for example,
     *        deleting a
     *        catalog item will delete its catalog item variations).
     *
     * @return DeleteCatalogObjectResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteCatalogObject(string $objectId): DeleteCatalogObjectResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v2/catalog/object/{object_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('object_id', $objectId));

        $_resHandler = $this->responseHandler()->type(DeleteCatalogObjectResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a single [CatalogItem](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/CatalogItem) as a
     * [CatalogObject](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogObject)
     * based on the provided ID. The returned
     * object includes all of the relevant [CatalogItem](https://developer.squareup.
     * com/reference/square_2021-08-18/objects/CatalogItem)
     * information including: [CatalogItemVariation](https://developer.squareup.com/reference/square_2021-
     * 08-18/objects/CatalogItemVariation)
     * children, references to its
     * [CatalogModifierList](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/CatalogModifierList) objects, and the ids of
     * any [CatalogTax](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogTax)
     * objects that apply to it.
     *
     * @param string $objectId The object ID of any type of catalog objects to be retrieved.
     * @param bool|null $includeRelatedObjects If `true`, the response will include additional
     *        objects that are related to the
     *        requested object, as follows:
     *
     *        If the `object` field of the response contains a `CatalogItem`, its associated
     *        `CatalogCategory`, `CatalogTax`, `CatalogImage` and `CatalogModifierList` objects
     *        will
     *        be returned in the `related_objects` field of the response. If the `object` field
     *        of
     *        the response contains a `CatalogItemVariation`, its parent `CatalogItem` will be
     *        returned
     *        in the `related_objects` field of the response.
     *
     *        Default value: `false`
     * @param int|null $catalogVersion Requests objects as of a specific version of the catalog.
     *        This allows you to retrieve historical
     *        versions of objects. The value to retrieve a specific version of an object can be
     *        found
     *        in the version field of [CatalogObject](https://developer.squareup.
     *        com/reference/square_2021-08-18/objects/CatalogObject)s.
     *
     * @return RetrieveCatalogObjectResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveCatalogObject(
        string $objectId,
        ?bool $includeRelatedObjects = null,
        ?int $catalogVersion = null
    ): RetrieveCatalogObjectResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/catalog/object/{object_id}')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('object_id', $objectId),
                QueryParam::init('include_related_objects', $includeRelatedObjects),
                QueryParam::init('catalog_version', $catalogVersion)
            );

        $_resHandler = $this->responseHandler()->type(RetrieveCatalogObjectResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Searches for [CatalogObject](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/CatalogObject) of any type by matching supported search attribute values,
     * excluding custom attribute values on items or item variations, against one or more of the specified
     * query expressions.
     *
     * This (`SearchCatalogObjects`) endpoint differs from the [SearchCatalogItems](https://developer.
     * squareup.com/reference/square_2021-08-18/catalog-api/search-catalog-items)
     * endpoint in the following aspects:
     *
     * - `SearchCatalogItems` can only search for items or item variations, whereas `SearchCatalogObjects`
     * can search for any type of catalog objects.
     * - `SearchCatalogItems` supports the custom attribute query filters to return items or item
     * variations that contain custom attribute values, where `SearchCatalogObjects` does not.
     * - `SearchCatalogItems` does not support the `include_deleted_objects` filter to search for deleted
     * items or item variations, whereas `SearchCatalogObjects` does.
     * - The both endpoints have different call conventions, including the query filter formats.
     *
     * @param SearchCatalogObjectsRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return SearchCatalogObjectsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function searchCatalogObjects(SearchCatalogObjectsRequest $body): SearchCatalogObjectsResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/catalog/search')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(SearchCatalogObjectsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Searches for catalog items or item variations by matching supported search attribute values,
     * including
     * custom attribute values, against one or more of the specified query expressions.
     *
     * This (`SearchCatalogItems`) endpoint differs from the [SearchCatalogObjects](https://developer.
     * squareup.com/reference/square_2021-08-18/catalog-api/search-catalog-objects)
     * endpoint in the following aspects:
     *
     * - `SearchCatalogItems` can only search for items or item variations, whereas `SearchCatalogObjects`
     * can search for any type of catalog objects.
     * - `SearchCatalogItems` supports the custom attribute query filters to return items or item
     * variations that contain custom attribute values, where `SearchCatalogObjects` does not.
     * - `SearchCatalogItems` does not support the `include_deleted_objects` filter to search for deleted
     * items or item variations, whereas `SearchCatalogObjects` does.
     * - The both endpoints use different call conventions, including the query filter formats.
     *
     * @param SearchCatalogItemsRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return SearchCatalogItemsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function searchCatalogItems(SearchCatalogItemsRequest $body): SearchCatalogItemsResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/catalog/search-catalog-items')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(SearchCatalogItemsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates the [CatalogModifierList](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/CatalogModifierList) objects
     * that apply to the targeted [CatalogItem](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/CatalogItem) without having
     * to perform an upsert on the entire item.
     *
     * @param UpdateItemModifierListsRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return UpdateItemModifierListsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateItemModifierLists(UpdateItemModifierListsRequest $body): UpdateItemModifierListsResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/catalog/update-item-modifier-lists')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(UpdateItemModifierListsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates the [CatalogTax](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/CatalogTax) objects that apply to the
     * targeted [CatalogItem](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/CatalogItem) without having to perform an
     * upsert on the entire item.
     *
     * @param UpdateItemTaxesRequest $body An object containing the fields to POST for the request.
     *        See the corresponding object definition for field details.
     *
     * @return UpdateItemTaxesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateItemTaxes(UpdateItemTaxesRequest $body): UpdateItemTaxesResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/catalog/update-item-taxes')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(UpdateItemTaxesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
