<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\CreateCheckoutRequest;
use SquareConnectAPILib\Models\CreateCheckoutResponse;

class CheckoutController extends BaseController
{
    /**
     * Links a `checkoutId` to a `checkout_page_url` that customers are
     * directed to in order to provide their payment information using a
     * payment processing workflow hosted on connect.squareup.com.
     *
     * @param string $locationId The ID of the business location to associate the checkout with.
     * @param CreateCheckoutRequest $body An object containing the fields to POST for the request.
     *        See the corresponding object definition for field details.
     *
     * @return CreateCheckoutResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createCheckout(string $locationId, CreateCheckoutRequest $body): CreateCheckoutResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/locations/{location_id}/checkouts')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('location_id', $locationId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(CreateCheckoutResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
