<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\AddGroupToCustomerResponse;
use SquareConnectAPILib\Models\CreateCustomerCardRequest;
use SquareConnectAPILib\Models\CreateCustomerCardResponse;
use SquareConnectAPILib\Models\CreateCustomerRequest;
use SquareConnectAPILib\Models\CreateCustomerResponse;
use SquareConnectAPILib\Models\DeleteCustomerCardResponse;
use SquareConnectAPILib\Models\DeleteCustomerResponse;
use SquareConnectAPILib\Models\ListCustomersResponse;
use SquareConnectAPILib\Models\RemoveGroupFromCustomerResponse;
use SquareConnectAPILib\Models\RetrieveCustomerResponse;
use SquareConnectAPILib\Models\SearchCustomersRequest;
use SquareConnectAPILib\Models\SearchCustomersResponse;
use SquareConnectAPILib\Models\UpdateCustomerRequest;
use SquareConnectAPILib\Models\UpdateCustomerResponse;

class CustomersController extends BaseController
{
    /**
     * Lists customer profiles associated with a Square account.
     *
     * Under normal operating conditions, newly created or updated customer profiles become available
     * for the listing operation in well under 30 seconds. Occasionally, propagation of the new or updated
     * profiles can take closer to one minute or longer, especially during network incidents and outages.
     *
     * @param string|null $cursor A pagination cursor returned by a previous call to this endpoint.
     *        Provide this cursor to retrieve the next set of results for your original query.
     *
     *        For more information, see [Pagination](https://developer.squareup.com/docs/working-
     *        with-apis/pagination).
     * @param int|null $limit The maximum number of results to return in a single page. This limit
     *        is advisory. The response might contain more or fewer results.
     *        The limit is ignored if it is less than 1 or greater than 100. The default value is
     *        100.
     *
     *        For more information, see [Pagination](https://developer.squareup.com/docs/working-
     *        with-apis/pagination).
     * @param string|null $sortField Indicates how customers should be sorted. The default value is
     *        `DEFAULT`.
     * @param string|null $sortOrder Indicates whether customers should be sorted in ascending
     *        (`ASC`) or
     *        descending (`DESC`) order.
     *
     *        The default value is `ASC`.
     *
     * @return ListCustomersResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listCustomers(
        ?string $cursor = null,
        ?int $limit = null,
        ?string $sortField = null,
        ?string $sortOrder = null
    ): ListCustomersResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/customers')
            ->auth('oauth2')
            ->parameters(
                QueryParam::init('cursor', $cursor),
                QueryParam::init('limit', $limit),
                QueryParam::init('sort_field', $sortField),
                QueryParam::init('sort_order', $sortOrder)
            );

        $_resHandler = $this->responseHandler()->type(ListCustomersResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a new customer for a business.
     *
     * You must provide at least one of the following values in your request to this
     * endpoint:
     *
     * - `given_name`
     * - `family_name`
     * - `company_name`
     * - `email_address`
     * - `phone_number`
     *
     * @param CreateCustomerRequest $body An object containing the fields to POST for the request.
     *        See the corresponding object definition for field details.
     *
     * @return CreateCustomerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createCustomer(CreateCustomerRequest $body): CreateCustomerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/customers')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(CreateCustomerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Searches the customer profiles associated with a Square account using a supported query filter.
     *
     * Calling `SearchCustomers` without any explicit query filter returns all
     * customer profiles ordered alphabetically based on `given_name` and
     * `family_name`.
     *
     * Under normal operating conditions, newly created or updated customer profiles become available
     * for the search operation in well under 30 seconds. Occasionally, propagation of the new or updated
     * profiles can take closer to one minute or longer, especially during network incidents and outages.
     *
     * @param SearchCustomersRequest $body An object containing the fields to POST for the request.
     *        See the corresponding object definition for field details.
     *
     * @return SearchCustomersResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function searchCustomers(SearchCustomersRequest $body): SearchCustomersResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/customers/search')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(SearchCustomersResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes a customer profile from a business. This operation also unlinks any associated cards on file.
     *
     *
     * As a best practice, you should include the `version` field in the request to enable [optimistic
     * concurrency](https://developer.squareup.com/docs/working-with-apis/optimistic-concurrency) control.
     * The value must be set to the current version of the customer profile.
     *
     * To delete a customer profile that was created by merging existing profiles, you must use the ID of
     * the newly created profile.
     *
     * @param string $customerId The ID of the customer to delete.
     * @param int|null $version The current version of the customer profile. As a best practice, you
     *        should include this parameter to enable [optimistic concurrency](https://developer.
     *        squareup.com/docs/working-with-apis/optimistic-concurrency) control.  For more
     *        information, see [Delete a customer profile](https://developer.squareup.
     *        com/docs/customers-api/use-the-api/keep-records#delete-customer-profile).
     *
     * @return DeleteCustomerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteCustomer(string $customerId, ?int $version = null): DeleteCustomerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v2/customers/{customer_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('customer_id', $customerId), QueryParam::init('version', $version));

        $_resHandler = $this->responseHandler()->type(DeleteCustomerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns details for a single customer.
     *
     * @param string $customerId The ID of the customer to retrieve.
     *
     * @return RetrieveCustomerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveCustomer(string $customerId): RetrieveCustomerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/customers/{customer_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('customer_id', $customerId));

        $_resHandler = $this->responseHandler()->type(RetrieveCustomerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates a customer profile. To change an attribute, specify the new value. To remove an attribute,
     * specify the value as an empty string or empty object.
     *
     * As a best practice, you should include the `version` field in the request to enable [optimistic
     * concurrency](https://developer.squareup.com/docs/working-with-apis/optimistic-concurrency) control.
     * The value must be set to the current version of the customer profile.
     *
     * To update a customer profile that was created by merging existing profiles, you must use the ID of
     * the newly created profile.
     *
     * You cannot use this endpoint to change cards on file. To make changes, use the [Cards API](https:
     * //developer.squareup.com/reference/square_2021-08-18/cards-api) or [Gift Cards API](https:
     * //developer.squareup.com/reference/square_2021-08-18/gift-cards-api).
     *
     * @param string $customerId The ID of the customer to update.
     * @param UpdateCustomerRequest $body An object containing the fields to POST for the request.
     *        See the corresponding object definition for field details.
     *
     * @return UpdateCustomerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateCustomer(string $customerId, UpdateCustomerRequest $body): UpdateCustomerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v2/customers/{customer_id}')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('customer_id', $customerId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(UpdateCustomerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Adds a card on file to an existing customer.
     *
     * As with charges, calls to `CreateCustomerCard` are idempotent. Multiple
     * calls with the same card nonce return the same card record that was created
     * with the provided nonce during the _first_ call.
     *
     * @param string $customerId The Square ID of the customer profile the card is linked to.
     * @param CreateCustomerCardRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return CreateCustomerCardResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createCustomerCard(string $customerId, CreateCustomerCardRequest $body): CreateCustomerCardResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/customers/{customer_id}/cards')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('customer_id', $customerId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(CreateCustomerCardResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Removes a card on file from a customer.
     *
     * @param string $customerId The ID of the customer that the card on file belongs to.
     * @param string $cardId The ID of the card on file to delete.
     *
     * @return DeleteCustomerCardResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteCustomerCard(string $customerId, string $cardId): DeleteCustomerCardResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v2/customers/{customer_id}/cards/{card_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('customer_id', $customerId), TemplateParam::init('card_id', $cardId));

        $_resHandler = $this->responseHandler()->type(DeleteCustomerCardResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Removes a group membership from a customer.
     *
     * The customer is identified by the `customer_id` value
     * and the customer group is identified by the `group_id` value.
     *
     * @param string $customerId The ID of the customer to remove from the group.
     * @param string $groupId The ID of the customer group to remove the customer from.
     *
     * @return RemoveGroupFromCustomerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function removeGroupFromCustomer(string $customerId, string $groupId): RemoveGroupFromCustomerResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/v2/customers/{customer_id}/groups/{group_id}'
        )
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('customer_id', $customerId),
                TemplateParam::init('group_id', $groupId)
            );

        $_resHandler = $this->responseHandler()->type(RemoveGroupFromCustomerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Adds a group membership to a customer.
     *
     * The customer is identified by the `customer_id` value
     * and the customer group is identified by the `group_id` value.
     *
     * @param string $customerId The ID of the customer to add to a group.
     * @param string $groupId The ID of the customer group to add the customer to.
     *
     * @return AddGroupToCustomerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function addGroupToCustomer(string $customerId, string $groupId): AddGroupToCustomerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v2/customers/{customer_id}/groups/{group_id}')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('customer_id', $customerId),
                TemplateParam::init('group_id', $groupId)
            );

        $_resHandler = $this->responseHandler()->type(AddGroupToCustomerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
