<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\CreateCustomerGroupRequest;
use SquareConnectAPILib\Models\CreateCustomerGroupResponse;
use SquareConnectAPILib\Models\DeleteCustomerGroupResponse;
use SquareConnectAPILib\Models\ListCustomerGroupsResponse;
use SquareConnectAPILib\Models\RetrieveCustomerGroupResponse;
use SquareConnectAPILib\Models\UpdateCustomerGroupRequest;
use SquareConnectAPILib\Models\UpdateCustomerGroupResponse;

class CustomerGroupsController extends BaseController
{
    /**
     * Retrieves the list of customer groups of a business.
     *
     * @param string|null $cursor A pagination cursor returned by a previous call to this endpoint.
     *        Provide this cursor to retrieve the next set of results for your original query.
     *
     *        For more information, see [Pagination](https://developer.squareup.com/docs/working-
     *        with-apis/pagination).
     * @param int|null $limit The maximum number of results to return in a single page. This limit
     *        is advisory. The response might contain more or fewer results.
     *        The limit is ignored if it is less than 1 or greater than 50. The default value is
     *        50.
     *
     *        For more information, see [Pagination](https://developer.squareup.com/docs/working-
     *        with-apis/pagination).
     *
     * @return ListCustomerGroupsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listCustomerGroups(?string $cursor = null, ?int $limit = null): ListCustomerGroupsResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/customers/groups')
            ->auth('oauth2')
            ->parameters(QueryParam::init('cursor', $cursor), QueryParam::init('limit', $limit));

        $_resHandler = $this->responseHandler()->type(ListCustomerGroupsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a new customer group for a business.
     *
     * The request must include the `name` value of the group.
     *
     * @param CreateCustomerGroupRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return CreateCustomerGroupResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createCustomerGroup(CreateCustomerGroupRequest $body): CreateCustomerGroupResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/customers/groups')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(CreateCustomerGroupResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes a customer group as identified by the `group_id` value.
     *
     * @param string $groupId The ID of the customer group to delete.
     *
     * @return DeleteCustomerGroupResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteCustomerGroup(string $groupId): DeleteCustomerGroupResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v2/customers/groups/{group_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('group_id', $groupId));

        $_resHandler = $this->responseHandler()->type(DeleteCustomerGroupResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves a specific customer group as identified by the `group_id` value.
     *
     * @param string $groupId The ID of the customer group to retrieve.
     *
     * @return RetrieveCustomerGroupResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveCustomerGroup(string $groupId): RetrieveCustomerGroupResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/customers/groups/{group_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('group_id', $groupId));

        $_resHandler = $this->responseHandler()->type(RetrieveCustomerGroupResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates a customer group as identified by the `group_id` value.
     *
     * @param string $groupId The ID of the customer group to update.
     * @param UpdateCustomerGroupRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return UpdateCustomerGroupResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateCustomerGroup(string $groupId, UpdateCustomerGroupRequest $body): UpdateCustomerGroupResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v2/customers/groups/{group_id}')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('group_id', $groupId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(UpdateCustomerGroupResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
