<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\AcceptDisputeResponse;
use SquareConnectAPILib\Models\CreateDisputeEvidenceTextRequest;
use SquareConnectAPILib\Models\CreateDisputeEvidenceTextResponse;
use SquareConnectAPILib\Models\DeleteDisputeEvidenceResponse;
use SquareConnectAPILib\Models\ListDisputeEvidenceResponse;
use SquareConnectAPILib\Models\ListDisputesResponse;
use SquareConnectAPILib\Models\RetrieveDisputeEvidenceResponse;
use SquareConnectAPILib\Models\RetrieveDisputeResponse;
use SquareConnectAPILib\Models\SubmitEvidenceResponse;

class DisputesController extends BaseController
{
    /**
     * Returns a list of disputes associated with a particular account.
     *
     * @param string|null $cursor A pagination cursor returned by a previous call to this endpoint.
     *        Provide this cursor to retrieve the next set of results for the original query.
     *        For more information, see [Pagination](https://developer.squareup.
     *        com/docs/basics/api101/pagination).
     * @param string|null $states The dispute states to filter the result. If not specified, the
     *        endpoint returns all open disputes (the dispute status is not `INQUIRY_CLOSED`,
     *        `WON`,
     *        or `LOST`).
     * @param string|null $locationId The ID of the location for which to return a list of disputes.
     *        If not specified, the endpoint returns
     *        all open disputes (the dispute status is not `INQUIRY_CLOSED`, `WON`, or `LOST`)
     *        associated with all locations.
     *
     * @return ListDisputesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listDisputes(
        ?string $cursor = null,
        ?string $states = null,
        ?string $locationId = null
    ): ListDisputesResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/disputes')
            ->auth('oauth2')
            ->parameters(
                QueryParam::init('cursor', $cursor),
                QueryParam::init('states', $states),
                QueryParam::init('location_id', $locationId)
            );

        $_resHandler = $this->responseHandler()->type(ListDisputesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns details about a specific dispute.
     *
     * @param string $disputeId The ID of the dispute you want more details about.
     *
     * @return RetrieveDisputeResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveDispute(string $disputeId): RetrieveDisputeResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/disputes/{dispute_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('dispute_id', $disputeId));

        $_resHandler = $this->responseHandler()->type(RetrieveDisputeResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Accepts the loss on a dispute. Square returns the disputed amount to the cardholder and
     * updates the dispute state to ACCEPTED.
     *
     * Square debits the disputed amount from the seller’s Square account. If the Square account
     * does not have sufficient funds, Square debits the associated bank account.
     *
     * @param string $disputeId The ID of the dispute you want to accept.
     *
     * @return AcceptDisputeResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function acceptDispute(string $disputeId): AcceptDisputeResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/disputes/{dispute_id}/accept')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('dispute_id', $disputeId));

        $_resHandler = $this->responseHandler()->type(AcceptDisputeResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a list of evidence associated with a dispute.
     *
     * @param string $disputeId The ID of the dispute.
     * @param string|null $cursor A pagination cursor returned by a previous call to this endpoint.
     *        Provide this cursor to retrieve the next set of results for the original query.
     *        For more information, see [Pagination](https://developer.squareup.
     *        com/docs/basics/api101/pagination).
     *
     * @return ListDisputeEvidenceResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listDisputeEvidence(string $disputeId, ?string $cursor = null): ListDisputeEvidenceResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/disputes/{dispute_id}/evidence')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('dispute_id', $disputeId), QueryParam::init('cursor', $cursor));

        $_resHandler = $this->responseHandler()->type(ListDisputeEvidenceResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Uploads text to use as evidence for a dispute challenge.
     *
     * @param string $disputeId The ID of the dispute you want to upload evidence for.
     * @param CreateDisputeEvidenceTextRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return CreateDisputeEvidenceTextResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createDisputeEvidenceText(
        string $disputeId,
        CreateDisputeEvidenceTextRequest $body
    ): CreateDisputeEvidenceTextResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/disputes/{dispute_id}/evidence-text')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('dispute_id', $disputeId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(CreateDisputeEvidenceTextResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Removes specified evidence from a dispute.
     *
     * Square does not send the bank any evidence that is removed. Also, you cannot remove evidence after
     * submitting it to the bank using [SubmitEvidence](https://developer.squareup.
     * com/reference/square_2021-08-18/disputes-api/submit-evidence).
     *
     * @param string $disputeId The ID of the dispute you want to remove evidence from.
     * @param string $evidenceId The ID of the evidence you want to remove.
     *
     * @return DeleteDisputeEvidenceResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteDisputeEvidence(string $disputeId, string $evidenceId): DeleteDisputeEvidenceResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/v2/disputes/{dispute_id}/evidence/{evidence_id}'
        )
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('dispute_id', $disputeId),
                TemplateParam::init('evidence_id', $evidenceId)
            );

        $_resHandler = $this->responseHandler()->type(DeleteDisputeEvidenceResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the evidence metadata specified by the evidence ID in the request URL path
     *
     * You must maintain a copy of the evidence you upload if you want to reference it later. You cannot
     * download the evidence after you upload it.
     *
     * @param string $disputeId The ID of the dispute that you want to retrieve evidence from.
     * @param string $evidenceId The ID of the evidence to retrieve.
     *
     * @return RetrieveDisputeEvidenceResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveDisputeEvidence(string $disputeId, string $evidenceId): RetrieveDisputeEvidenceResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v2/disputes/{dispute_id}/evidence/{evidence_id}'
        )
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('dispute_id', $disputeId),
                TemplateParam::init('evidence_id', $evidenceId)
            );

        $_resHandler = $this->responseHandler()->type(RetrieveDisputeEvidenceResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Submits evidence to the cardholder's bank.
     *
     * Before submitting evidence, Square compiles all available evidence. This includes evidence uploaded
     * using the [CreateDisputeEvidenceFile](https://developer.squareup.com/reference/square_2021-08-
     * 18/disputes-api/create-dispute-evidence-file) and
     * [CreateDisputeEvidenceText](https://developer.squareup.com/reference/square_2021-08-18/disputes-
     * api/create-dispute-evidence-text) endpoints and
     * evidence automatically provided by Square, when available.
     *
     * @param string $disputeId The ID of the dispute that you want to submit evidence for.
     *
     * @return SubmitEvidenceResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function submitEvidence(string $disputeId): SubmitEvidenceResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/disputes/{dispute_id}/submit-evidence')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('dispute_id', $disputeId));

        $_resHandler = $this->responseHandler()->type(SubmitEvidenceResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
