<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\CreateGiftCardRequest;
use SquareConnectAPILib\Models\CreateGiftCardResponse;
use SquareConnectAPILib\Models\LinkCustomerToGiftCardRequest;
use SquareConnectAPILib\Models\LinkCustomerToGiftCardResponse;
use SquareConnectAPILib\Models\ListGiftCardsResponse;
use SquareConnectAPILib\Models\RetrieveGiftCardFromGANRequest;
use SquareConnectAPILib\Models\RetrieveGiftCardFromGANResponse;
use SquareConnectAPILib\Models\RetrieveGiftCardFromNonceRequest;
use SquareConnectAPILib\Models\RetrieveGiftCardFromNonceResponse;
use SquareConnectAPILib\Models\RetrieveGiftCardResponse;
use SquareConnectAPILib\Models\UnlinkCustomerFromGiftCardRequest;
use SquareConnectAPILib\Models\UnlinkCustomerFromGiftCardResponse;

class GiftCardsController extends BaseController
{
    /**
     * Lists all gift cards. You can specify optional filters to retrieve
     * a subset of the gift cards.
     *
     * @param string|null $type If a type is provided, gift cards of this type are returned (see
     *        [GiftCardType](https://developer.squareup.com/reference/square_2021-08-
     *        18/enums/GiftCardType)).
     *        If no type is provided, it returns gift cards of all types.
     * @param string|null $state If the state is provided, it returns the gift cards in the
     *        specified state
     *        (see [GiftCardStatus](https://developer.squareup.com/reference/square_2021-08-
     *        18/enums/GiftCardStatus)).
     *        Otherwise, it returns the gift cards of all states.
     * @param int|null $limit If a value is provided, it returns only that number of results per
     *        page.
     *        The maximum number of results allowed per page is 50. The default value is 30.
     * @param string|null $cursor A pagination cursor returned by a previous call to this endpoint.
     *        Provide this cursor to retrieve the next set of results for the original query.
     *        If a cursor is not provided, it returns the first page of the results.
     *        For more information, see [Pagination](https://developer.squareup.
     *        com/docs/docs/working-with-apis/pagination).
     * @param string|null $customerId If a value is provided, returns only the gift cards linked to
     *        the specified customer
     *
     * @return ListGiftCardsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listGiftCards(
        ?string $type = null,
        ?string $state = null,
        ?int $limit = null,
        ?string $cursor = null,
        ?string $customerId = null
    ): ListGiftCardsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/gift-cards')
            ->auth('oauth2')
            ->parameters(
                QueryParam::init('type', $type),
                QueryParam::init('state', $state),
                QueryParam::init('limit', $limit),
                QueryParam::init('cursor', $cursor),
                QueryParam::init('customer_id', $customerId)
            );

        $_resHandler = $this->responseHandler()->type(ListGiftCardsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a digital gift card or registers a physical (plastic) gift card. You must activate the gift
     * card before
     * it can be used for payment. For more information, see
     * [Selling gift cards](https://developer.squareup.com/docs/gift-cards/using-gift-cards-api#selling-
     * square-gift-cards).
     *
     * @param CreateGiftCardRequest $body An object containing the fields to POST for the request.
     *        See the corresponding object definition for field details.
     *
     * @return CreateGiftCardResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createGiftCard(CreateGiftCardRequest $body): CreateGiftCardResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/gift-cards')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(CreateGiftCardResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves a gift card using the gift card account number (GAN).
     *
     * @param RetrieveGiftCardFromGANRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return RetrieveGiftCardFromGANResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveGiftCardFromGAN(RetrieveGiftCardFromGANRequest $body): RetrieveGiftCardFromGANResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/gift-cards/from-gan')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(RetrieveGiftCardFromGANResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves a gift card using a nonce (a secure token) that represents the gift card.
     *
     * @param RetrieveGiftCardFromNonceRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return RetrieveGiftCardFromNonceResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveGiftCardFromNonce(
        RetrieveGiftCardFromNonceRequest $body
    ): RetrieveGiftCardFromNonceResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/gift-cards/from-nonce')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(RetrieveGiftCardFromNonceResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Links a customer to a gift card
     *
     * @param string $giftCardId The ID of the gift card to link.
     * @param LinkCustomerToGiftCardRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return LinkCustomerToGiftCardResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function linkCustomerToGiftCard(
        string $giftCardId,
        LinkCustomerToGiftCardRequest $body
    ): LinkCustomerToGiftCardResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/gift-cards/{gift_card_id}/link-customer')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('gift_card_id', $giftCardId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(LinkCustomerToGiftCardResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Unlinks a customer from a gift card
     *
     * @param string $giftCardId
     * @param UnlinkCustomerFromGiftCardRequest $body An object containing the fields to POST for
     *        the request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return UnlinkCustomerFromGiftCardResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function unlinkCustomerFromGiftCard(
        string $giftCardId,
        UnlinkCustomerFromGiftCardRequest $body
    ): UnlinkCustomerFromGiftCardResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/gift-cards/{gift_card_id}/unlink-customer')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('gift_card_id', $giftCardId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(UnlinkCustomerFromGiftCardResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves a gift card using its ID.
     *
     * @param string $id The ID of the gift card to retrieve.
     *
     * @return RetrieveGiftCardResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveGiftCard(string $id): RetrieveGiftCardResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/gift-cards/{id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()->type(RetrieveGiftCardResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
