<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\CreateGiftCardActivityRequest;
use SquareConnectAPILib\Models\CreateGiftCardActivityResponse;
use SquareConnectAPILib\Models\ListGiftCardActivitiesResponse;

class GiftCardActivitiesController extends BaseController
{
    /**
     * Lists gift card activities. By default, you get gift card activities for all
     * gift cards in the seller's account. You can optionally specify query parameters to
     * filter the list. For example, you can get a list of gift card activities for a gift card,
     * for all gift cards in a specific region, or for activities within a time window.
     *
     * @param string|null $giftCardId If you provide a gift card ID, the endpoint returns activities
     *        that belong
     *        to the specified gift card. Otherwise, the endpoint returns all gift card activities
     *        for
     *        the seller.
     * @param string|null $type If you provide a type, the endpoint returns gift card activities of
     *        this type.
     *        Otherwise, the endpoint returns all types of gift card activities.
     * @param string|null $locationId If you provide a location ID, the endpoint returns gift card
     *        activities for that location.
     *        Otherwise, the endpoint returns gift card activities for all locations.
     * @param string|null $beginTime The timestamp for the beginning of the reporting period, in RFC
     *        3339 format.
     *        Inclusive. Default: The current time minus one year.
     * @param string|null $endTime The timestamp for the end of the reporting period, in RFC 3339
     *        format.
     *        Inclusive. Default: The current time.
     * @param int|null $limit If you provide a limit value, the endpoint returns the specified
     *        number
     *        of results (or less) per page. A maximum value is 100. The default value is 50.
     * @param string|null $cursor A pagination cursor returned by a previous call to this endpoint.
     *        Provide this cursor to retrieve the next set of results for the original query.
     *        If you do not provide the cursor, the call returns the first page of the results.
     * @param string|null $sortOrder The order in which the endpoint returns the activities, based
     *        on `created_at`.
     *        - `ASC` - Oldest to newest.
     *        - `DESC` - Newest to oldest (default).
     *
     * @return ListGiftCardActivitiesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listGiftCardActivities(
        ?string $giftCardId = null,
        ?string $type = null,
        ?string $locationId = null,
        ?string $beginTime = null,
        ?string $endTime = null,
        ?int $limit = null,
        ?string $cursor = null,
        ?string $sortOrder = null
    ): ListGiftCardActivitiesResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/gift-cards/activities')
            ->auth('oauth2')
            ->parameters(
                QueryParam::init('gift_card_id', $giftCardId),
                QueryParam::init('type', $type),
                QueryParam::init('location_id', $locationId),
                QueryParam::init('begin_time', $beginTime),
                QueryParam::init('end_time', $endTime),
                QueryParam::init('limit', $limit),
                QueryParam::init('cursor', $cursor),
                QueryParam::init('sort_order', $sortOrder)
            );

        $_resHandler = $this->responseHandler()->type(ListGiftCardActivitiesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a gift card activity. For more information, see
     * [GiftCardActivity](https://developer.squareup.com/docs/gift-cards/using-gift-cards-
     * api#giftcardactivity) and
     * [Using activated gift cards](https://developer.squareup.com/docs/gift-cards/using-gift-cards-
     * api#using-activated-gift-cards).
     *
     * @param CreateGiftCardActivityRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return CreateGiftCardActivityResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createGiftCardActivity(CreateGiftCardActivityRequest $body): CreateGiftCardActivityResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/gift-cards/activities')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(CreateGiftCardActivityResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
