<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\BatchChangeInventoryRequest;
use SquareConnectAPILib\Models\BatchChangeInventoryResponse;
use SquareConnectAPILib\Models\BatchRetrieveInventoryChangesRequest;
use SquareConnectAPILib\Models\BatchRetrieveInventoryChangesResponse;
use SquareConnectAPILib\Models\BatchRetrieveInventoryCountsRequest;
use SquareConnectAPILib\Models\BatchRetrieveInventoryCountsResponse;
use SquareConnectAPILib\Models\RetrieveInventoryAdjustmentResponse;
use SquareConnectAPILib\Models\RetrieveInventoryChangesResponse;
use SquareConnectAPILib\Models\RetrieveInventoryCountResponse;
use SquareConnectAPILib\Models\RetrieveInventoryPhysicalCountResponse;
use SquareConnectAPILib\Models\RetrieveInventoryTransferResponse;

class InventoryController extends BaseController
{
    /**
     * Deprecated version of [RetrieveInventoryAdjustment](https://developer.squareup.
     * com/reference/square_2021-08-18/inventory-api/retrieve-inventory-adjustment) after the endpoint URL
     * is updated to conform to the standard convention.
     *
     * @param string $adjustmentId ID of the
     *        [InventoryAdjustment](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/InventoryAdjustment) to retrieve.
     *
     * @return RetrieveInventoryAdjustmentResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deprecatedRetrieveInventoryAdjustment(string $adjustmentId): RetrieveInventoryAdjustmentResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/inventory/adjustment/{adjustment_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('adjustment_id', $adjustmentId));

        $_resHandler = $this->responseHandler()->type(RetrieveInventoryAdjustmentResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the [InventoryAdjustment](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/InventoryAdjustment) object
     * with the provided `adjustment_id`.
     *
     * @param string $adjustmentId ID of the
     *        [InventoryAdjustment](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/InventoryAdjustment) to retrieve.
     *
     * @return RetrieveInventoryAdjustmentResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveInventoryAdjustment(string $adjustmentId): RetrieveInventoryAdjustmentResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/inventory/adjustments/{adjustment_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('adjustment_id', $adjustmentId));

        $_resHandler = $this->responseHandler()->type(RetrieveInventoryAdjustmentResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deprecated version of [BatchChangeInventory](https://developer.squareup.com/reference/square_2021-08-
     * 18/inventory-api/batch-change-inventory) after the endpoint URL
     * is updated to conform to the standard convention.
     *
     * @param BatchChangeInventoryRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return BatchChangeInventoryResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deprecatedBatchChangeInventory(BatchChangeInventoryRequest $body): BatchChangeInventoryResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/inventory/batch-change')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(BatchChangeInventoryResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deprecated version of [BatchRetrieveInventoryChanges](https://developer.squareup.
     * com/reference/square_2021-08-18/inventory-api/batch-retrieve-inventory-changes) after the endpoint
     * URL
     * is updated to conform to the standard convention.
     *
     * @param BatchRetrieveInventoryChangesRequest $body An object containing the fields to POST for
     *        the request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return BatchRetrieveInventoryChangesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deprecatedBatchRetrieveInventoryChanges(
        BatchRetrieveInventoryChangesRequest $body
    ): BatchRetrieveInventoryChangesResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/inventory/batch-retrieve-changes')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(BatchRetrieveInventoryChangesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deprecated version of [BatchRetrieveInventoryCounts](https://developer.squareup.
     * com/reference/square_2021-08-18/inventory-api/batch-retrieve-inventory-counts) after the endpoint
     * URL
     * is updated to conform to the standard convention.
     *
     * @param BatchRetrieveInventoryCountsRequest $body An object containing the fields to POST for
     *        the request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return BatchRetrieveInventoryCountsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deprecatedBatchRetrieveInventoryCounts(
        BatchRetrieveInventoryCountsRequest $body
    ): BatchRetrieveInventoryCountsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/inventory/batch-retrieve-counts')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(BatchRetrieveInventoryCountsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Applies adjustments and counts to the provided item quantities.
     *
     * On success: returns the current calculated counts for all objects
     * referenced in the request.
     * On failure: returns a list of related errors.
     *
     * @param BatchChangeInventoryRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return BatchChangeInventoryResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function batchChangeInventory(BatchChangeInventoryRequest $body): BatchChangeInventoryResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/inventory/changes/batch-create')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(BatchChangeInventoryResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns historical physical counts and adjustments based on the
     * provided filter criteria.
     *
     * Results are paginated and sorted in ascending order according their
     * `occurred_at` timestamp (oldest first).
     *
     * BatchRetrieveInventoryChanges is a catch-all query endpoint for queries
     * that cannot be handled by other, simpler endpoints.
     *
     * @param BatchRetrieveInventoryChangesRequest $body An object containing the fields to POST for
     *        the request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return BatchRetrieveInventoryChangesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function batchRetrieveInventoryChanges(
        BatchRetrieveInventoryChangesRequest $body
    ): BatchRetrieveInventoryChangesResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/inventory/changes/batch-retrieve')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(BatchRetrieveInventoryChangesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns current counts for the provided
     * [CatalogObject](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogObject)s
     * at the requested
     * [Location](https://developer.squareup.com/reference/square_2021-08-18/objects/Location)s.
     *
     * Results are paginated and sorted in descending order according to their
     * `calculated_at` timestamp (newest first).
     *
     * When `updated_after` is specified, only counts that have changed since that
     * time (based on the server timestamp for the most recent change) are
     * returned. This allows clients to perform a "sync" operation, for example
     * in response to receiving a Webhook notification.
     *
     * @param BatchRetrieveInventoryCountsRequest $body An object containing the fields to POST for
     *        the request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return BatchRetrieveInventoryCountsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function batchRetrieveInventoryCounts(
        BatchRetrieveInventoryCountsRequest $body
    ): BatchRetrieveInventoryCountsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/inventory/counts/batch-retrieve')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(BatchRetrieveInventoryCountsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deprecated version of [RetrieveInventoryPhysicalCount](https://developer.squareup.
     * com/reference/square_2021-08-18/inventory-api/retrieve-inventory-physical-count) after the endpoint
     * URL
     * is updated to conform to the standard convention.
     *
     * @param string $physicalCountId ID of the
     *        [InventoryPhysicalCount](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/InventoryPhysicalCount) to retrieve.
     *
     * @return RetrieveInventoryPhysicalCountResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deprecatedRetrieveInventoryPhysicalCount(
        string $physicalCountId
    ): RetrieveInventoryPhysicalCountResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v2/inventory/physical-count/{physical_count_id}'
        )->auth('oauth2')->parameters(TemplateParam::init('physical_count_id', $physicalCountId));

        $_resHandler = $this->responseHandler()->type(RetrieveInventoryPhysicalCountResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the [InventoryPhysicalCount](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/InventoryPhysicalCount)
     * object with the provided `physical_count_id`.
     *
     * @param string $physicalCountId ID of the
     *        [InventoryPhysicalCount](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/InventoryPhysicalCount) to retrieve.
     *
     * @return RetrieveInventoryPhysicalCountResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveInventoryPhysicalCount(string $physicalCountId): RetrieveInventoryPhysicalCountResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v2/inventory/physical-counts/{physical_count_id}'
        )->auth('oauth2')->parameters(TemplateParam::init('physical_count_id', $physicalCountId));

        $_resHandler = $this->responseHandler()->type(RetrieveInventoryPhysicalCountResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the [InventoryTransfer](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/InventoryTransfer) object
     * with the provided `transfer_id`.
     *
     * @param string $transferId ID of the
     *        [InventoryTransfer](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/InventoryTransfer) to retrieve.
     *
     * @return RetrieveInventoryTransferResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveInventoryTransfer(string $transferId): RetrieveInventoryTransferResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/inventory/transfers/{transfer_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('transfer_id', $transferId));

        $_resHandler = $this->responseHandler()->type(RetrieveInventoryTransferResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves the current calculated stock count for a given
     * [CatalogObject](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogObject) at
     * a given set of
     * [Location](https://developer.squareup.com/reference/square_2021-08-18/objects/Location)s. Responses
     * are paginated and unsorted.
     * For more sophisticated queries, use a batch endpoint.
     *
     * @param string $catalogObjectId ID of the
     *        [CatalogObject](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/CatalogObject) to retrieve.
     * @param string|null $locationIds The
     *        [Location](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/Location) IDs to look up as a comma-separated
     *        list. An empty list queries all locations.
     * @param string|null $cursor A pagination cursor returned by a previous call to this endpoint.
     *        Provide this to retrieve the next set of results for the original query.
     *
     *        See the [Pagination](https://developer.squareup.com/docs/working-with-
     *        apis/pagination) guide for more information.
     *
     * @return RetrieveInventoryCountResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveInventoryCount(
        string $catalogObjectId,
        ?string $locationIds = null,
        ?string $cursor = null
    ): RetrieveInventoryCountResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/inventory/{catalog_object_id}')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('catalog_object_id', $catalogObjectId),
                QueryParam::init('location_ids', $locationIds),
                QueryParam::init('cursor', $cursor)
            );

        $_resHandler = $this->responseHandler()->type(RetrieveInventoryCountResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a set of physical counts and inventory adjustments for the
     * provided [CatalogObject](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/CatalogObject) at the requested
     * [Location](https://developer.squareup.com/reference/square_2021-08-18/objects/Location)s.
     *
     * You can achieve the same result by calling [BatchRetrieveInventoryChanges](https://developer.
     * squareup.com/reference/square_2021-08-18/inventory-api/batch-retrieve-inventory-changes)
     * and having the `catalog_object_ids` list contain a single element of the `CatalogObject` ID.
     *
     * Results are paginated and sorted in descending order according to their
     * `occurred_at` timestamp (newest first).
     *
     * There are no limits on how far back the caller can page. This endpoint can be
     * used to display recent changes for a specific item. For more
     * sophisticated queries, use a batch endpoint.
     *
     * @param string $catalogObjectId ID of the
     *        [CatalogObject](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/CatalogObject) to retrieve.
     * @param string|null $locationIds The
     *        [Location](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/Location) IDs to look up as a comma-separated
     *        list. An empty list queries all locations.
     * @param string|null $cursor A pagination cursor returned by a previous call to this endpoint.
     *        Provide this to retrieve the next set of results for the original query.
     *
     *        See the [Pagination](https://developer.squareup.com/docs/working-with-
     *        apis/pagination) guide for more information.
     *
     * @return RetrieveInventoryChangesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveInventoryChanges(
        string $catalogObjectId,
        ?string $locationIds = null,
        ?string $cursor = null
    ): RetrieveInventoryChangesResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/inventory/{catalog_object_id}/changes')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('catalog_object_id', $catalogObjectId),
                QueryParam::init('location_ids', $locationIds),
                QueryParam::init('cursor', $cursor)
            );

        $_resHandler = $this->responseHandler()->type(RetrieveInventoryChangesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
