<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\CreateLocationRequest;
use SquareConnectAPILib\Models\CreateLocationResponse;
use SquareConnectAPILib\Models\ListLocationsResponse;
use SquareConnectAPILib\Models\RetrieveLocationResponse;
use SquareConnectAPILib\Models\UpdateLocationRequest;
use SquareConnectAPILib\Models\UpdateLocationResponse;

class LocationsController extends BaseController
{
    /**
     * Provides information of all locations of a business.
     *
     * Many Square API endpoints require a `location_id` parameter.
     * The `id` field of the [`Location`](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/Location) objects returned by this
     * endpoint correspond to that `location_id` parameter.
     *
     * @return ListLocationsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listLocations(): ListLocationsResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/locations')->auth('oauth2');

        $_resHandler = $this->responseHandler()->type(ListLocationsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a location.
     *
     * @param CreateLocationRequest $body An object containing the fields to POST for the request.
     *        See the corresponding object definition for field details.
     *
     * @return CreateLocationResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createLocation(CreateLocationRequest $body): CreateLocationResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/locations')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(CreateLocationResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves details of a location. You can specify "main"
     * as the location ID to retrieve details of the
     * main location.
     *
     * @param string $locationId The ID of the location to retrieve. If you specify the string
     *        "main",
     *        then the endpoint returns the main location.
     *
     * @return RetrieveLocationResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveLocation(string $locationId): RetrieveLocationResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/locations/{location_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('location_id', $locationId));

        $_resHandler = $this->responseHandler()->type(RetrieveLocationResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates a location.
     *
     * @param string $locationId The ID of the location to update.
     * @param UpdateLocationRequest $body An object containing the fields to POST for the request.
     *        See the corresponding object definition for field details.
     *
     * @return UpdateLocationResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateLocation(string $locationId, UpdateLocationRequest $body): UpdateLocationResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v2/locations/{location_id}')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('location_id', $locationId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(UpdateLocationResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
