<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\AccumulateLoyaltyPointsRequest;
use SquareConnectAPILib\Models\AccumulateLoyaltyPointsResponse;
use SquareConnectAPILib\Models\AdjustLoyaltyPointsRequest;
use SquareConnectAPILib\Models\AdjustLoyaltyPointsResponse;
use SquareConnectAPILib\Models\CalculateLoyaltyPointsRequest;
use SquareConnectAPILib\Models\CalculateLoyaltyPointsResponse;
use SquareConnectAPILib\Models\CreateLoyaltyAccountRequest;
use SquareConnectAPILib\Models\CreateLoyaltyAccountResponse;
use SquareConnectAPILib\Models\CreateLoyaltyRewardRequest;
use SquareConnectAPILib\Models\CreateLoyaltyRewardResponse;
use SquareConnectAPILib\Models\DeleteLoyaltyRewardResponse;
use SquareConnectAPILib\Models\ListLoyaltyProgramsResponse;
use SquareConnectAPILib\Models\RedeemLoyaltyRewardRequest;
use SquareConnectAPILib\Models\RedeemLoyaltyRewardResponse;
use SquareConnectAPILib\Models\RetrieveLoyaltyAccountResponse;
use SquareConnectAPILib\Models\RetrieveLoyaltyProgramResponse;
use SquareConnectAPILib\Models\RetrieveLoyaltyRewardResponse;
use SquareConnectAPILib\Models\SearchLoyaltyAccountsRequest;
use SquareConnectAPILib\Models\SearchLoyaltyAccountsResponse;
use SquareConnectAPILib\Models\SearchLoyaltyEventsRequest;
use SquareConnectAPILib\Models\SearchLoyaltyEventsResponse;
use SquareConnectAPILib\Models\SearchLoyaltyRewardsRequest;
use SquareConnectAPILib\Models\SearchLoyaltyRewardsResponse;

class LoyaltyController extends BaseController
{
    /**
     * Creates a loyalty account. To create a loyalty account, you must provide the `program_id` and a
     * `mapping` with the `phone_number` of the buyer.
     *
     * @param CreateLoyaltyAccountRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return CreateLoyaltyAccountResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createLoyaltyAccount(CreateLoyaltyAccountRequest $body): CreateLoyaltyAccountResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/loyalty/accounts')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(CreateLoyaltyAccountResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Searches for loyalty accounts in a loyalty program.
     *
     * You can search for a loyalty account using the phone number or customer ID associated with the
     * account. To return all loyalty accounts, specify an empty `query` object or omit it entirely.
     *
     * Search results are sorted by `created_at` in ascending order.
     *
     * @param SearchLoyaltyAccountsRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return SearchLoyaltyAccountsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function searchLoyaltyAccounts(SearchLoyaltyAccountsRequest $body): SearchLoyaltyAccountsResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/loyalty/accounts/search')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(SearchLoyaltyAccountsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves a loyalty account.
     *
     * @param string $accountId The ID of the [loyalty
     *        account](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/LoyaltyAccount) to retrieve.
     *
     * @return RetrieveLoyaltyAccountResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveLoyaltyAccount(string $accountId): RetrieveLoyaltyAccountResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/loyalty/accounts/{account_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('account_id', $accountId));

        $_resHandler = $this->responseHandler()->type(RetrieveLoyaltyAccountResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Adds points to a loyalty account.
     *
     * - If you are using the Orders API to manage orders, you only provide the `order_id`.
     * The endpoint reads the order to compute points to add to the buyer's account.
     * - If you are not using the Orders API to manage orders,
     * you first perform a client-side computation to compute the points.
     * For spend-based and visit-based programs, you can first call
     * [CalculateLoyaltyPoints](https://developer.squareup.com/reference/square_2021-08-18/loyalty-
     * api/calculate-loyalty-points) to compute the points
     * that you provide to this endpoint.
     *
     * __Note:__ The country of the seller's Square account determines whether tax is included in the
     * purchase amount when accruing points for spend-based and visit-based programs.
     * For more information, see [Availability of Square Loyalty](https://developer.squareup.
     * com/docs/loyalty-api/overview#loyalty-market-availability).
     *
     * @param string $accountId The [loyalty
     *        account](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/LoyaltyAccount) ID to which to add the points.
     * @param AccumulateLoyaltyPointsRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return AccumulateLoyaltyPointsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function accumulateLoyaltyPoints(
        string $accountId,
        AccumulateLoyaltyPointsRequest $body
    ): AccumulateLoyaltyPointsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/loyalty/accounts/{account_id}/accumulate')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('account_id', $accountId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(AccumulateLoyaltyPointsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Adds points to or subtracts points from a buyer's account.
     *
     * Use this endpoint only when you need to manually adjust points. Otherwise, in your application flow,
     * you call
     * [AccumulateLoyaltyPoints](https://developer.squareup.com/reference/square_2021-08-18/loyalty-
     * api/accumulate-loyalty-points)
     * to add points when a buyer pays for the purchase.
     *
     * @param string $accountId The ID of the [loyalty
     *        account](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/LoyaltyAccount) in which to adjust the points.
     * @param AdjustLoyaltyPointsRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return AdjustLoyaltyPointsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function adjustLoyaltyPoints(
        string $accountId,
        AdjustLoyaltyPointsRequest $body
    ): AdjustLoyaltyPointsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/loyalty/accounts/{account_id}/adjust')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('account_id', $accountId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(AdjustLoyaltyPointsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Searches for loyalty events.
     *
     * A Square loyalty program maintains a ledger of events that occur during the lifetime of a
     * buyer's loyalty account. Each change in the point balance
     * (for example, points earned, points redeemed, and points expired) is
     * recorded in the ledger. Using this endpoint, you can search the ledger for events.
     *
     * Search results are sorted by `created_at` in descending order.
     *
     * @param SearchLoyaltyEventsRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return SearchLoyaltyEventsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function searchLoyaltyEvents(SearchLoyaltyEventsRequest $body): SearchLoyaltyEventsResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/loyalty/events/search')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(SearchLoyaltyEventsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a list of loyalty programs in the seller's account.
     * Loyalty programs define how buyers can earn points and redeem points for rewards. Square sellers can
     * have only one loyalty program, which is created and managed from the Seller Dashboard. For more
     * information, see [Loyalty Program Overview](https://developer.squareup.com/docs/loyalty/overview).
     *
     *
     * Replaced with [RetrieveLoyaltyProgram](https://developer.squareup.com/reference/square_2021-08-
     * 18/loyalty-api/retrieve-loyalty-program) when used with the keyword `main`.
     *
     * @return ListLoyaltyProgramsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listLoyaltyPrograms(): ListLoyaltyProgramsResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/loyalty/programs')->auth('oauth2');

        $_resHandler = $this->responseHandler()->type(ListLoyaltyProgramsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves the loyalty program in a seller's account, specified by the program ID or the keyword
     * `main`.
     *
     * Loyalty programs define how buyers can earn points and redeem points for rewards. Square sellers can
     * have only one loyalty program, which is created and managed from the Seller Dashboard. For more
     * information, see [Loyalty Program Overview](https://developer.squareup.com/docs/loyalty/overview).
     *
     * @param string $programId The ID of the loyalty program or the keyword `main`. Either value
     *        can be used to retrieve the single loyalty program that belongs to the seller.
     *
     * @return RetrieveLoyaltyProgramResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveLoyaltyProgram(string $programId): RetrieveLoyaltyProgramResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/loyalty/programs/{program_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('program_id', $programId));

        $_resHandler = $this->responseHandler()->type(RetrieveLoyaltyProgramResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Calculates the points a purchase earns.
     *
     * - If you are using the Orders API to manage orders, you provide `order_id` in the request. The
     * endpoint calculates the points by reading the order.
     * - If you are not using the Orders API to manage orders, you provide the purchase amount in
     * the request for the endpoint to calculate the points.
     *
     * An application might call this endpoint to show the points that a buyer can earn with the
     * specific purchase.
     *
     * __Note:__ The country of the seller's Square account determines whether tax is included in the
     * purchase amount when accruing points for spend-based and visit-based programs.
     * For more information, see [Availability of Square Loyalty](https://developer.squareup.
     * com/docs/loyalty-api/overview#loyalty-market-availability).
     *
     * @param string $programId The [loyalty
     *        program](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/LoyaltyProgram) ID, which defines the rules for accruing points.
     * @param CalculateLoyaltyPointsRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return CalculateLoyaltyPointsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function calculateLoyaltyPoints(
        string $programId,
        CalculateLoyaltyPointsRequest $body
    ): CalculateLoyaltyPointsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/loyalty/programs/{program_id}/calculate')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('program_id', $programId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(CalculateLoyaltyPointsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a loyalty reward. In the process, the endpoint does following:
     *
     * - Uses the `reward_tier_id` in the request to determine the number of points
     * to lock for this reward.
     * - If the request includes `order_id`, it adds the reward and related discount to the order.
     *
     * After a reward is created, the points are locked and
     * not available for the buyer to redeem another reward.
     *
     * @param CreateLoyaltyRewardRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return CreateLoyaltyRewardResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createLoyaltyReward(CreateLoyaltyRewardRequest $body): CreateLoyaltyRewardResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/loyalty/rewards')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(CreateLoyaltyRewardResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Searches for loyalty rewards in a loyalty account.
     *
     * In the current implementation, the endpoint supports search by the reward `status`.
     *
     * If you know a reward ID, use the
     * [RetrieveLoyaltyReward](https://developer.squareup.com/reference/square_2021-08-18/loyalty-
     * api/retrieve-loyalty-reward) endpoint.
     *
     * Search results are sorted by `updated_at` in descending order.
     *
     * @param SearchLoyaltyRewardsRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return SearchLoyaltyRewardsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function searchLoyaltyRewards(SearchLoyaltyRewardsRequest $body): SearchLoyaltyRewardsResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/loyalty/rewards/search')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(SearchLoyaltyRewardsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes a loyalty reward by doing the following:
     *
     * - Returns the loyalty points back to the loyalty account.
     * - If an order ID was specified when the reward was created
     * (see [CreateLoyaltyReward](https://developer.squareup.com/reference/square_2021-08-18/loyalty-
     * api/create-loyalty-reward)),
     * it updates the order by removing the reward and related
     * discounts.
     *
     * You cannot delete a reward that has reached the terminal state (REDEEMED).
     *
     * @param string $rewardId The ID of the [loyalty
     *        reward](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/LoyaltyReward) to delete.
     *
     * @return DeleteLoyaltyRewardResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteLoyaltyReward(string $rewardId): DeleteLoyaltyRewardResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v2/loyalty/rewards/{reward_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('reward_id', $rewardId));

        $_resHandler = $this->responseHandler()->type(DeleteLoyaltyRewardResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves a loyalty reward.
     *
     * @param string $rewardId The ID of the [loyalty
     *        reward](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/LoyaltyReward) to retrieve.
     *
     * @return RetrieveLoyaltyRewardResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveLoyaltyReward(string $rewardId): RetrieveLoyaltyRewardResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/loyalty/rewards/{reward_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('reward_id', $rewardId));

        $_resHandler = $this->responseHandler()->type(RetrieveLoyaltyRewardResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Redeems a loyalty reward.
     *
     * The endpoint sets the reward to the `REDEEMED` terminal state.
     *
     * If you are using your own order processing system (not using the
     * Orders API), you call this endpoint after the buyer paid for the
     * purchase.
     *
     * After the reward reaches the terminal state, it cannot be deleted.
     * In other words, points used for the reward cannot be returned
     * to the account.
     *
     * @param string $rewardId The ID of the [loyalty
     *        reward](https://developer.squareup.com/reference/square_2021-08-
     *        18/objects/LoyaltyReward) to redeem.
     * @param RedeemLoyaltyRewardRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return RedeemLoyaltyRewardResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function redeemLoyaltyReward(
        string $rewardId,
        RedeemLoyaltyRewardRequest $body
    ): RedeemLoyaltyRewardResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/loyalty/rewards/{reward_id}/redeem')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('reward_id', $rewardId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(RedeemLoyaltyRewardResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
