<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\ListMerchantsResponse;
use SquareConnectAPILib\Models\RetrieveMerchantResponse;

class MerchantsController extends BaseController
{
    /**
     * Returns `Merchant` information for a given access token.
     *
     * If you don't know a `Merchant` ID, you can use this endpoint to retrieve the merchant ID for an
     * access token.
     * You can specify your personal access token to get your own merchant information or specify an OAuth
     * token
     * to get the information for the  merchant that granted you access.
     *
     * If you know the merchant ID, you can also use the [RetrieveMerchant](https://developer.squareup.
     * com/reference/square_2021-08-18/merchants-api/retrieve-merchant)
     * endpoint to get the merchant information.
     *
     * @param int|null $cursor The cursor generated by the previous response.
     *
     * @return ListMerchantsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listMerchants(?int $cursor = null): ListMerchantsResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/merchants')
            ->auth('oauth2')
            ->parameters(QueryParam::init('cursor', $cursor));

        $_resHandler = $this->responseHandler()->type(ListMerchantsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a `Merchant` object for the given `merchant_id`.
     *
     * @param string $merchantId The ID of the merchant to retrieve. If the string "me" is supplied
     *        as the ID,
     *        then retrieve the merchant that is currently accessible to this call.
     *
     * @return RetrieveMerchantResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveMerchant(string $merchantId): RetrieveMerchantResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/merchants/{merchant_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('merchant_id', $merchantId));

        $_resHandler = $this->responseHandler()->type(RetrieveMerchantResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
