<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\BatchRetrieveOrdersRequest;
use SquareConnectAPILib\Models\BatchRetrieveOrdersResponse;
use SquareConnectAPILib\Models\CalculateOrderRequest;
use SquareConnectAPILib\Models\CalculateOrderResponse;
use SquareConnectAPILib\Models\CreateOrderRequest;
use SquareConnectAPILib\Models\CreateOrderResponse;
use SquareConnectAPILib\Models\PayOrderRequest;
use SquareConnectAPILib\Models\PayOrderResponse;
use SquareConnectAPILib\Models\RetrieveOrderResponse;
use SquareConnectAPILib\Models\SearchOrdersRequest;
use SquareConnectAPILib\Models\SearchOrdersResponse;
use SquareConnectAPILib\Models\UpdateOrderRequest;
use SquareConnectAPILib\Models\UpdateOrderResponse;

class OrdersController extends BaseController
{
    /**
     * Creates a new [order](https://developer.squareup.com/reference/square_2021-08-18/objects/Order) that
     * can include information about products for
     * purchase and settings to apply to the purchase.
     *
     * To pay for a created order, see
     * [Pay for Orders](https://developer.squareup.com/docs/orders-api/pay-for-orders).
     *
     * You can modify open orders using the [UpdateOrder](https://developer.squareup.
     * com/reference/square_2021-08-18/orders-api/update-order) endpoint.
     *
     * @param CreateOrderRequest $body An object containing the fields to POST for the request. See
     *        the corresponding object definition for field details.
     *
     * @return CreateOrderResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createOrder(CreateOrderRequest $body): CreateOrderResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/orders')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(CreateOrderResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves a set of [orders](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/Order) by their IDs.
     *
     * If a given order ID does not exist, the ID is ignored instead of generating an error.
     *
     * @param BatchRetrieveOrdersRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return BatchRetrieveOrdersResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function batchRetrieveOrders(BatchRetrieveOrdersRequest $body): BatchRetrieveOrdersResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/orders/batch-retrieve')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(BatchRetrieveOrdersResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Enables applications to preview order pricing without creating an order.
     *
     * @param CalculateOrderRequest $body An object containing the fields to POST for the request.
     *        See the corresponding object definition for field details.
     *
     * @return CalculateOrderResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function calculateOrder(CalculateOrderRequest $body): CalculateOrderResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/orders/calculate')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(CalculateOrderResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Search all orders for one or more locations. Orders include all sales,
     * returns, and exchanges regardless of how or when they entered the Square
     * ecosystem (such as Point of Sale, Invoices, and Connect APIs).
     *
     * `SearchOrders` requests need to specify which locations to search and define a
     * [SearchOrdersQuery](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/SearchOrdersQuery) object that controls
     * how to sort or filter the results. Your `SearchOrdersQuery` can:
     *
     * Set filter criteria.
     * Set the sort order.
     * Determine whether to return results as complete `Order` objects or as
     * [OrderEntry](https://developer.squareup.com/reference/square_2021-08-18/objects/OrderEntry) objects.
     *
     * Note that details for orders processed with Square Point of Sale while in
     * offline mode might not be transmitted to Square for up to 72 hours. Offline
     * orders have a `created_at` value that reflects the time the order was created,
     * not the time it was subsequently transmitted to Square.
     *
     * @param SearchOrdersRequest $body An object containing the fields to POST for the request. See
     *        the corresponding object definition for field details.
     *
     * @return SearchOrdersResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function searchOrders(SearchOrdersRequest $body): SearchOrdersResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/orders/search')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(SearchOrdersResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves an [Order](https://developer.squareup.com/reference/square_2021-08-18/objects/Order) by ID.
     *
     * @param string $orderId The ID of the order to retrieve.
     *
     * @return RetrieveOrderResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveOrder(string $orderId): RetrieveOrderResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/orders/{order_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('order_id', $orderId));

        $_resHandler = $this->responseHandler()->type(RetrieveOrderResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates an open [order](https://developer.squareup.com/reference/square_2021-08-18/objects/Order) by
     * adding, replacing, or deleting
     * fields. Orders with a `COMPLETED` or `CANCELED` state cannot be updated.
     *
     * An `UpdateOrder` request requires the following:
     *
     * - The `order_id` in the endpoint path, identifying the order to update.
     * - The latest `version` of the order to update.
     * - The [sparse order](https://developer.squareup.com/docs/orders-api/manage-orders#sparse-order-
     * objects)
     * containing only the fields to update and the version to which the update is
     * being applied.
     * - If deleting fields, the [dot notation paths](https://developer.squareup.com/docs/orders-api/manage-
     * orders#on-dot-notation)
     * identifying the fields to clear.
     *
     * To pay for an order, see
     * [Pay for Orders](https://developer.squareup.com/docs/orders-api/pay-for-orders).
     *
     * @param string $orderId The ID of the order to update.
     * @param UpdateOrderRequest $body An object containing the fields to POST for the request. See
     *        the corresponding object definition for field details.
     *
     * @return UpdateOrderResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateOrder(string $orderId, UpdateOrderRequest $body): UpdateOrderResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v2/orders/{order_id}')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('order_id', $orderId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(UpdateOrderResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Pay for an [order](https://developer.squareup.com/reference/square_2021-08-18/objects/Order) using
     * one or more approved [payments](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/Payment)
     * or settle an order with a total of `0`.
     *
     * The total of the `payment_ids` listed in the request must be equal to the order
     * total. Orders with a total amount of `0` can be marked as paid by specifying an empty
     * array of `payment_ids` in the request.
     *
     * To be used with `PayOrder`, a payment must:
     *
     * - Reference the order by specifying the `order_id` when [creating the payment](https://developer.
     * squareup.com/reference/square_2021-08-18/payments-api/create-payment).
     * Any approved payments that reference the same `order_id` not specified in the
     * `payment_ids` is canceled.
     * - Be approved with [delayed capture](https://developer.squareup.com/docs/payments-api/take-
     * payments#delayed-capture).
     * Using a delayed capture payment with `PayOrder` completes the approved payment.
     *
     * @param string $orderId The ID of the order being paid.
     * @param PayOrderRequest $body An object containing the fields to POST for the request. See the
     *        corresponding object definition for field details.
     *
     * @return PayOrderResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function payOrder(string $orderId, PayOrderRequest $body): PayOrderResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/orders/{order_id}/pay')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('order_id', $orderId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(PayOrderResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
