<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\GetPaymentRefundResponse;
use SquareConnectAPILib\Models\ListPaymentRefundsResponse;
use SquareConnectAPILib\Models\RefundPaymentRequest;
use SquareConnectAPILib\Models\RefundPaymentResponse;

class RefundsController extends BaseController
{
    /**
     * Retrieves a list of refunds for the account making the request.
     *
     * Results are eventually consistent, and new refunds or changes to refunds might take several
     * seconds to appear.
     *
     * The maximum results per page is 100.
     *
     * @param string|null $beginTime The timestamp for the beginning of the requested reporting
     *        period, in RFC 3339 format.
     *
     *        Default: The current time minus one year.
     * @param string|null $endTime The timestamp for the end of the requested reporting period, in
     *        RFC 3339 format.
     *
     *        Default: The current time.
     * @param string|null $sortOrder The order in which results are listed: - `ASC` - Oldest to
     *        newest.
     *        - `DESC` - Newest to oldest (default).
     * @param string|null $cursor A pagination cursor returned by a previous call to this endpoint.
     *        Provide this cursor to retrieve the next set of results for the original query.
     *
     *        For more information, see [Pagination](https://developer.squareup.
     *        com/docs/basics/api101/pagination).
     * @param string|null $locationId Limit results to the location supplied. By default, results
     *        are returned
     *        for all locations associated with the seller.
     * @param string|null $status If provided, only refunds with the given status are returned. For
     *        a list of refund status values, see [PaymentRefund](https://developer.squareup.
     *        com/reference/square_2021-08-18/objects/PaymentRefund).
     *
     *        Default: If omitted, refunds are returned regardless of their status.
     * @param string|null $sourceType If provided, only refunds with the given source type are
     *        returned.
     *        - `CARD` - List refunds only for payments where `CARD` was specified as the payment
     *        source.
     *
     *        Default: If omitted, refunds are returned regardless of the source type.
     * @param int|null $limit The maximum number of results to be returned in a single page. It is
     *        possible to receive fewer results than the specified limit on a given page.
     *
     *        If the supplied value is greater than 100, no more than 100 results are returned.
     *
     *        Default: 100
     *
     * @return ListPaymentRefundsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listPaymentRefunds(
        ?string $beginTime = null,
        ?string $endTime = null,
        ?string $sortOrder = null,
        ?string $cursor = null,
        ?string $locationId = null,
        ?string $status = null,
        ?string $sourceType = null,
        ?int $limit = null
    ): ListPaymentRefundsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/refunds')
            ->auth('oauth2')
            ->parameters(
                QueryParam::init('begin_time', $beginTime),
                QueryParam::init('end_time', $endTime),
                QueryParam::init('sort_order', $sortOrder),
                QueryParam::init('cursor', $cursor),
                QueryParam::init('location_id', $locationId),
                QueryParam::init('status', $status),
                QueryParam::init('source_type', $sourceType),
                QueryParam::init('limit', $limit)
            );

        $_resHandler = $this->responseHandler()->type(ListPaymentRefundsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Refunds a payment. You can refund the entire payment amount or a
     * portion of it. You can use this endpoint to refund a card payment or record a
     * refund of a cash or external payment. For more information, see
     * [Refund Payment](https://developer.squareup.com/docs/payments-api/refund-payments).
     *
     * @param RefundPaymentRequest $body An object containing the fields to POST for the request.
     *        See the corresponding object definition for field details.
     *
     * @return RefundPaymentResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function refundPayment(RefundPaymentRequest $body): RefundPaymentResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/refunds')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(RefundPaymentResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves a specific refund using the `refund_id`.
     *
     * @param string $refundId The unique ID for the desired `PaymentRefund`.
     *
     * @return GetPaymentRefundResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getPaymentRefund(string $refundId): GetPaymentRefundResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/refunds/{refund_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('refund_id', $refundId));

        $_resHandler = $this->responseHandler()->type(GetPaymentRefundResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
