<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\ListSitesResponse;

class SitesController extends BaseController
{
    /**
     * Lists the Square Online sites that belong to a seller.
     *
     *
     * __Note:__ Square Online APIs are publicly available as part of an early access program. For more
     * information, see [Early access program for Square Online APIs](https://developer.squareup.
     * com/docs/online-api#early-access-program-for-square-online-apis).
     *
     * @return ListSitesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listSites(): ListSitesResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/sites')->auth('oauth2');

        $_resHandler = $this->responseHandler()->type(ListSitesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
