<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\BulkCreateTeamMembersRequest;
use SquareConnectAPILib\Models\BulkCreateTeamMembersResponse;
use SquareConnectAPILib\Models\BulkUpdateTeamMembersRequest;
use SquareConnectAPILib\Models\BulkUpdateTeamMembersResponse;
use SquareConnectAPILib\Models\CreateTeamMemberRequest;
use SquareConnectAPILib\Models\CreateTeamMemberResponse;
use SquareConnectAPILib\Models\RetrieveTeamMemberResponse;
use SquareConnectAPILib\Models\RetrieveWageSettingResponse;
use SquareConnectAPILib\Models\SearchTeamMembersRequest;
use SquareConnectAPILib\Models\SearchTeamMembersResponse;
use SquareConnectAPILib\Models\UpdateTeamMemberRequest;
use SquareConnectAPILib\Models\UpdateTeamMemberResponse;
use SquareConnectAPILib\Models\UpdateWageSettingRequest;
use SquareConnectAPILib\Models\UpdateWageSettingResponse;

class TeamController extends BaseController
{
    /**
     * Creates a single `TeamMember` object. The `TeamMember` object is returned on successful creates.
     * You must provide the following values in your request to this endpoint:
     * - `given_name`
     * - `family_name`
     *
     * Learn about [Troubleshooting the Team API](https://developer.squareup.
     * com/docs/team/troubleshooting#createteammember).
     *
     * @param CreateTeamMemberRequest $body An object containing the fields to POST for the request.
     *        See the corresponding object definition for field details.
     *
     * @return CreateTeamMemberResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createTeamMember(CreateTeamMemberRequest $body): CreateTeamMemberResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/team-members')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(CreateTeamMemberResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates multiple `TeamMember` objects. The created `TeamMember` objects are returned on successful
     * creates.
     * This process is non-transactional and processes as much of the request as possible. If one of the
     * creates in
     * the request cannot be successfully processed, the request is not marked as failed, but the body of
     * the response
     * contains explicit error information for the failed create.
     *
     * Learn about [Troubleshooting the Team API](https://developer.squareup.
     * com/docs/team/troubleshooting#bulk-create-team-members).
     *
     * @param BulkCreateTeamMembersRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return BulkCreateTeamMembersResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function bulkCreateTeamMembers(BulkCreateTeamMembersRequest $body): BulkCreateTeamMembersResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/team-members/bulk-create')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(BulkCreateTeamMembersResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates multiple `TeamMember` objects. The updated `TeamMember` objects are returned on successful
     * updates.
     * This process is non-transactional and processes as much of the request as possible. If one of the
     * updates in
     * the request cannot be successfully processed, the request is not marked as failed, but the body of
     * the response
     * contains explicit error information for the failed update.
     * Learn about [Troubleshooting the Team API](https://developer.squareup.
     * com/docs/team/troubleshooting#bulk-update-team-members).
     *
     * @param BulkUpdateTeamMembersRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return BulkUpdateTeamMembersResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function bulkUpdateTeamMembers(BulkUpdateTeamMembersRequest $body): BulkUpdateTeamMembersResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/team-members/bulk-update')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(BulkUpdateTeamMembersResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a paginated list of `TeamMember` objects for a business.
     * The list can be filtered by the following:
     * - location IDs
     * - `status`
     *
     * @param SearchTeamMembersRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return SearchTeamMembersResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function searchTeamMembers(SearchTeamMembersRequest $body): SearchTeamMembersResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/team-members/search')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(SearchTeamMembersResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves a `TeamMember` object for the given `TeamMember.id`.
     * Learn about [Troubleshooting the Team API](https://developer.squareup.
     * com/docs/team/troubleshooting#retrieve-a-team-member).
     *
     * @param string $teamMemberId The ID of the team member to retrieve.
     *
     * @return RetrieveTeamMemberResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveTeamMember(string $teamMemberId): RetrieveTeamMemberResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/team-members/{team_member_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('team_member_id', $teamMemberId));

        $_resHandler = $this->responseHandler()->type(RetrieveTeamMemberResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates a single `TeamMember` object. The `TeamMember` object is returned on successful updates.
     * Learn about [Troubleshooting the Team API](https://developer.squareup.
     * com/docs/team/troubleshooting#update-a-team-member).
     *
     * @param string $teamMemberId The ID of the team member to update.
     * @param UpdateTeamMemberRequest $body An object containing the fields to POST for the request.
     *        See the corresponding object definition for field details.
     *
     * @return UpdateTeamMemberResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateTeamMember(string $teamMemberId, UpdateTeamMemberRequest $body): UpdateTeamMemberResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v2/team-members/{team_member_id}')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('team_member_id', $teamMemberId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(UpdateTeamMemberResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves a `WageSetting` object for a team member specified
     * by `TeamMember.id`.
     * Learn about [Troubleshooting the Team API](https://developer.squareup.
     * com/docs/team/troubleshooting#retrievewagesetting).
     *
     * @param string $teamMemberId The ID of the team member for which to retrieve the wage setting.
     *
     * @return RetrieveWageSettingResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveWageSetting(string $teamMemberId): RetrieveWageSettingResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/team-members/{team_member_id}/wage-setting')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('team_member_id', $teamMemberId));

        $_resHandler = $this->responseHandler()->type(RetrieveWageSettingResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates or updates a `WageSetting` object. The object is created if a
     * `WageSetting` with the specified `team_member_id` does not exist. Otherwise,
     * it fully replaces the `WageSetting` object for the team member.
     * The `WageSetting` is returned on a successful update.
     * Learn about [Troubleshooting the Team API](https://developer.squareup.
     * com/docs/team/troubleshooting#create-or-update-a-wage-setting).
     *
     * @param string $teamMemberId The ID of the team member for which to update the `WageSetting`
     *        object.
     * @param UpdateWageSettingRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return UpdateWageSettingResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateWageSetting(string $teamMemberId, UpdateWageSettingRequest $body): UpdateWageSettingResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v2/team-members/{team_member_id}/wage-setting')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('team_member_id', $teamMemberId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(UpdateWageSettingResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
