<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\CancelTerminalCheckoutResponse;
use SquareConnectAPILib\Models\CancelTerminalRefundResponse;
use SquareConnectAPILib\Models\CreateTerminalCheckoutRequest;
use SquareConnectAPILib\Models\CreateTerminalCheckoutResponse;
use SquareConnectAPILib\Models\CreateTerminalRefundRequest;
use SquareConnectAPILib\Models\CreateTerminalRefundResponse;
use SquareConnectAPILib\Models\GetTerminalCheckoutResponse;
use SquareConnectAPILib\Models\GetTerminalRefundResponse;
use SquareConnectAPILib\Models\SearchTerminalCheckoutsRequest;
use SquareConnectAPILib\Models\SearchTerminalCheckoutsResponse;
use SquareConnectAPILib\Models\SearchTerminalRefundsRequest;
use SquareConnectAPILib\Models\SearchTerminalRefundsResponse;

class TerminalController extends BaseController
{
    /**
     * Creates a Terminal checkout request and sends it to the specified device to take a payment
     * for the requested amount.
     *
     * @param CreateTerminalCheckoutRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return CreateTerminalCheckoutResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createTerminalCheckout(CreateTerminalCheckoutRequest $body): CreateTerminalCheckoutResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/terminals/checkouts')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(CreateTerminalCheckoutResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves a filtered list of Terminal checkout requests created by the account making the request.
     *
     * @param SearchTerminalCheckoutsRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return SearchTerminalCheckoutsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function searchTerminalCheckouts(SearchTerminalCheckoutsRequest $body): SearchTerminalCheckoutsResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/terminals/checkouts/search')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(SearchTerminalCheckoutsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves a Terminal checkout request by `checkout_id`.
     *
     * @param string $checkoutId The unique ID for the desired `TerminalCheckout`.
     *
     * @return GetTerminalCheckoutResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getTerminalCheckout(string $checkoutId): GetTerminalCheckoutResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/terminals/checkouts/{checkout_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('checkout_id', $checkoutId));

        $_resHandler = $this->responseHandler()->type(GetTerminalCheckoutResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Cancels a Terminal checkout request if the status of the request permits it.
     *
     * @param string $checkoutId The unique ID for the desired `TerminalCheckout`.
     *
     * @return CancelTerminalCheckoutResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function cancelTerminalCheckout(string $checkoutId): CancelTerminalCheckoutResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/terminals/checkouts/{checkout_id}/cancel')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('checkout_id', $checkoutId));

        $_resHandler = $this->responseHandler()->type(CancelTerminalCheckoutResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a request to refund an Interac payment completed on a Square Terminal.
     *
     * @param CreateTerminalRefundRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return CreateTerminalRefundResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createTerminalRefund(CreateTerminalRefundRequest $body): CreateTerminalRefundResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/terminals/refunds')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(CreateTerminalRefundResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves a filtered list of Interac Terminal refund requests created by the seller making the
     * request.
     *
     * @param SearchTerminalRefundsRequest $body An object containing the fields to POST for the
     *        request.
     *
     *        See the corresponding object definition for field details.
     *
     * @return SearchTerminalRefundsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function searchTerminalRefunds(SearchTerminalRefundsRequest $body): SearchTerminalRefundsResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/terminals/refunds/search')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(SearchTerminalRefundsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves an Interac Terminal refund object by ID.
     *
     * @param string $terminalRefundId The unique ID for the desired `TerminalRefund`.
     *
     * @return GetTerminalRefundResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getTerminalRefund(string $terminalRefundId): GetTerminalRefundResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/terminals/refunds/{terminal_refund_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('terminal_refund_id', $terminalRefundId));

        $_resHandler = $this->responseHandler()->type(GetTerminalRefundResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Cancels an Interac Terminal refund request by refund request ID if the status of the request permits
     * it.
     *
     * @param string $terminalRefundId The unique ID for the desired `TerminalRefund`.
     *
     * @return CancelTerminalRefundResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function cancelTerminalRefund(string $terminalRefundId): CancelTerminalRefundResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v2/terminals/refunds/{terminal_refund_id}/cancel'
        )->auth('oauth2')->parameters(TemplateParam::init('terminal_refund_id', $terminalRefundId));

        $_resHandler = $this->responseHandler()->type(CancelTerminalRefundResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
