<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\CaptureTransactionResponse;
use SquareConnectAPILib\Models\ChargeRequest;
use SquareConnectAPILib\Models\ChargeResponse;
use SquareConnectAPILib\Models\CreateRefundRequest;
use SquareConnectAPILib\Models\CreateRefundResponse;
use SquareConnectAPILib\Models\ListRefundsResponse;
use SquareConnectAPILib\Models\ListTransactionsResponse;
use SquareConnectAPILib\Models\RetrieveTransactionResponse;
use SquareConnectAPILib\Models\VoidTransactionResponse;

class TransactionsController extends BaseController
{
    /**
     * Lists refunds for one of a business's locations.
     *
     * In addition to full or partial tender refunds processed through Square APIs,
     * refunds may result from itemized returns or exchanges through Square's
     * Point of Sale applications.
     *
     * Refunds with a `status` of `PENDING` are not currently included in this
     * endpoint's response.
     *
     * Max results per [page](https://developer.squareup.com/docs/working-with-apis/pagination): 50
     *
     * @param string $locationId The ID of the location to list refunds for.
     * @param string|null $beginTime The beginning of the requested reporting period, in RFC 3339
     *        format.
     *
     *        See [Date ranges](https://developer.squareup.com/docs/build-basics/working-with-
     *        dates) for details on date inclusivity/exclusivity.
     *
     *        Default value: The current time minus one year.
     * @param string|null $endTime The end of the requested reporting period, in RFC 3339 format.
     *        See [Date ranges](https://developer.squareup.com/docs/build-basics/working-with-
     *        dates) for details on date inclusivity/exclusivity.
     *
     *        Default value: The current time.
     * @param string|null $sortOrder The order in which results are listed in the response (`ASC`
     *        for
     *        oldest first, `DESC` for newest first).
     *
     *        Default value: `DESC`
     * @param string|null $cursor A pagination cursor returned by a previous call to this endpoint.
     *        Provide this to retrieve the next set of results for your original query.
     *
     *        See [Paginating results](https://developer.squareup.com/docs/working-with-
     *        apis/pagination) for more information.
     *
     * @return ListRefundsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listRefunds(
        string $locationId,
        ?string $beginTime = null,
        ?string $endTime = null,
        ?string $sortOrder = null,
        ?string $cursor = null
    ): ListRefundsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/locations/{location_id}/refunds')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('location_id', $locationId),
                QueryParam::init('begin_time', $beginTime),
                QueryParam::init('end_time', $endTime),
                QueryParam::init('sort_order', $sortOrder),
                QueryParam::init('cursor', $cursor)
            );

        $_resHandler = $this->responseHandler()->type(ListRefundsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Lists transactions for a particular location.
     *
     * Transactions include payment information from sales and exchanges and refund
     * information from returns and exchanges.
     *
     * Max results per [page](https://developer.squareup.com/docs/working-with-apis/pagination): 50
     *
     * @param string $locationId The ID of the location to list transactions for.
     * @param string|null $beginTime The beginning of the requested reporting period, in RFC 3339
     *        format.
     *
     *        See [Date ranges](https://developer.squareup.com/docs/build-basics/working-with-
     *        dates) for details on date inclusivity/exclusivity.
     *
     *        Default value: The current time minus one year.
     * @param string|null $endTime The end of the requested reporting period, in RFC 3339 format.
     *        See [Date ranges](https://developer.squareup.com/docs/build-basics/working-with-
     *        dates) for details on date inclusivity/exclusivity.
     *
     *        Default value: The current time.
     * @param string|null $sortOrder The order in which results are listed in the response (`ASC`
     *        for
     *        oldest first, `DESC` for newest first).
     *
     *        Default value: `DESC`
     * @param string|null $cursor A pagination cursor returned by a previous call to this endpoint.
     *        Provide this to retrieve the next set of results for your original query.
     *
     *        See [Paginating results](https://developer.squareup.com/docs/working-with-
     *        apis/pagination) for more information.
     *
     * @return ListTransactionsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listTransactions(
        string $locationId,
        ?string $beginTime = null,
        ?string $endTime = null,
        ?string $sortOrder = null,
        ?string $cursor = null
    ): ListTransactionsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/locations/{location_id}/transactions')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('location_id', $locationId),
                QueryParam::init('begin_time', $beginTime),
                QueryParam::init('end_time', $endTime),
                QueryParam::init('sort_order', $sortOrder),
                QueryParam::init('cursor', $cursor)
            );

        $_resHandler = $this->responseHandler()->type(ListTransactionsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Charges a card represented by a card nonce or a customer's card on file.
     *
     * Your request to this endpoint must include _either_:
     *
     * - A value for the `card_nonce` parameter (to charge a card payment token generated
     * with the Web Payments SDK)
     * - Values for the `customer_card_id` and `customer_id` parameters (to charge
     * a customer's card on file)
     *
     * In order for an eCommerce payment to potentially qualify for
     * [Square chargeback protection](https://squareup.com/help/article/5394), you
     * _must_ provide values for the following parameters in your request:
     *
     * - `buyer_email_address`
     * - At least one of `billing_address` or `shipping_address`
     *
     * When this response is returned, the amount of Square's processing fee might not yet be
     * calculated. To obtain the processing fee, wait about ten seconds and call
     * [RetrieveTransaction](https://developer.squareup.com/reference/square_2021-08-18/transactions-
     * api/retrieve-transaction). See the `processing_fee_money`
     * field of each [Tender included](https://developer.squareup.com/reference/square_2021-08-
     * 18/objects/Tender) in the transaction.
     *
     * @param string $locationId The ID of the location to associate the created transaction with.
     * @param ChargeRequest $body An object containing the fields to POST for the request. See the
     *        corresponding object definition for field details.
     *
     * @return ChargeResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function charge(string $locationId, ChargeRequest $body): ChargeResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/locations/{location_id}/transactions')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('location_id', $locationId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(ChargeResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves details for a single transaction.
     *
     * @param string $locationId The ID of the transaction's associated location.
     * @param string $transactionId The ID of the transaction to retrieve.
     *
     * @return RetrieveTransactionResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveTransaction(string $locationId, string $transactionId): RetrieveTransactionResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v2/locations/{location_id}/transactions/{transaction_id}'
        )
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('location_id', $locationId),
                TemplateParam::init('transaction_id', $transactionId)
            );

        $_resHandler = $this->responseHandler()->type(RetrieveTransactionResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Captures a transaction that was created with the [Charge](https://developer.squareup.
     * com/reference/square_2021-08-18/transactions-api/charge)
     * endpoint with a `delay_capture` value of `true`.
     *
     *
     * See [Delayed capture transactions](https://developer.squareup.
     * com/docs/payments/transactions/overview#delayed-capture)
     * for more information.
     *
     * @param string $locationId
     * @param string $transactionId
     *
     * @return CaptureTransactionResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function captureTransaction(string $locationId, string $transactionId): CaptureTransactionResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v2/locations/{location_id}/transactions/{transaction_id}/capture'
        )
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('location_id', $locationId),
                TemplateParam::init('transaction_id', $transactionId)
            );

        $_resHandler = $this->responseHandler()->type(CaptureTransactionResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Initiates a refund for a previously charged tender.
     *
     * You must issue a refund within 120 days of the associated payment. See
     * [this article](https://squareup.com/help/us/en/article/5060) for more information
     * on refund behavior.
     *
     * NOTE: Card-present transactions with Interac credit cards **cannot be
     * refunded using the Connect API**. Interac transactions must refunded
     * in-person (e.g., dipping the card using POS app).
     *
     * @param string $locationId The ID of the original transaction's associated location.
     * @param string $transactionId The ID of the original transaction that includes the tender to
     *        refund.
     * @param CreateRefundRequest $body An object containing the fields to POST for the request. See
     *        the corresponding object definition for field details.
     *
     * @return CreateRefundResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createRefund(
        string $locationId,
        string $transactionId,
        CreateRefundRequest $body
    ): CreateRefundResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v2/locations/{location_id}/transactions/{transaction_id}/refund'
        )
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('location_id', $locationId),
                TemplateParam::init('transaction_id', $transactionId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(CreateRefundResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Cancels a transaction that was created with the [Charge](https://developer.squareup.
     * com/reference/square_2021-08-18/transactions-api/charge)
     * endpoint with a `delay_capture` value of `true`.
     *
     *
     * See [Delayed capture transactions](https://developer.squareup.
     * com/docs/payments/transactions/overview#delayed-capture)
     * for more information.
     *
     * @param string $locationId
     * @param string $transactionId
     *
     * @return VoidTransactionResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function voidTransaction(string $locationId, string $transactionId): VoidTransactionResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v2/locations/{location_id}/transactions/{transaction_id}/void'
        )
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('location_id', $locationId),
                TemplateParam::init('transaction_id', $transactionId)
            );

        $_resHandler = $this->responseHandler()->type(VoidTransactionResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
