<?php

declare(strict_types=1);

/*
 * SquareConnectAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SquareConnectAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SquareConnectAPILib\Exceptions\ApiException;
use SquareConnectAPILib\Models\V1Employee;
use SquareConnectAPILib\Models\V1EmployeeRole;

class V1EmployeesController extends BaseController
{
    /**
     * Provides summary information for all of a business's employees.
     *
     * @param string|null $order The order in which employees are listed in the response, based on
     *        their created_at field.      Default value: ASC
     * @param string|null $beginUpdatedAt If filtering results by their updated_at field, the
     *        beginning of the requested reporting period, in ISO 8601 format
     * @param string|null $endUpdatedAt If filtering results by there updated_at field, the end of
     *        the requested reporting period, in ISO 8601 format.
     * @param string|null $beginCreatedAt If filtering results by their created_at field, the
     *        beginning of the requested reporting period, in ISO 8601 format.
     * @param string|null $endCreatedAt If filtering results by their created_at field, the end of
     *        the requested reporting period, in ISO 8601 format.
     * @param string|null $status If provided, the endpoint returns only employee entities with the
     *        specified status (ACTIVE or INACTIVE).
     * @param string|null $externalId If provided, the endpoint returns only employee entities with
     *        the specified external_id.
     * @param int|null $limit The maximum integer number of employee entities to return in a single
     *        response. Default 100, maximum 200.
     * @param string|null $batchToken A pagination cursor to retrieve the next set of results for
     *        your
     *        original query to the endpoint.
     *
     * @return V1Employee[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listEmployees(
        ?string $order = null,
        ?string $beginUpdatedAt = null,
        ?string $endUpdatedAt = null,
        ?string $beginCreatedAt = null,
        ?string $endCreatedAt = null,
        ?string $status = null,
        ?string $externalId = null,
        ?int $limit = null,
        ?string $batchToken = null
    ): array {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/me/employees')
            ->auth('oauth2')
            ->parameters(
                QueryParam::init('order', $order),
                QueryParam::init('begin_updated_at', $beginUpdatedAt),
                QueryParam::init('end_updated_at', $endUpdatedAt),
                QueryParam::init('begin_created_at', $beginCreatedAt),
                QueryParam::init('end_created_at', $endCreatedAt),
                QueryParam::init('status', $status),
                QueryParam::init('external_id', $externalId),
                QueryParam::init('limit', $limit),
                QueryParam::init('batch_token', $batchToken)
            );

        $_resHandler = $this->responseHandler()->type(V1Employee::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Use the CreateEmployee endpoint to add an employee to a Square
     * account. Employees created with the Connect API have an initial status
     * of `INACTIVE`. Inactive employees cannot sign in to Square Point of Sale
     * until they are activated from the Square Dashboard. Employee status
     * cannot be changed with the Connect API.
     *
     * Employee entities cannot be deleted. To disable employee profiles,
     * set the employee's status to <code>INACTIVE</code>
     *
     * @param V1Employee $body An object containing the fields to POST for the request. See the
     *        corresponding object definition for field details.
     *
     * @return V1Employee Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createEmployee(V1Employee $body): V1Employee
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/me/employees')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(V1Employee::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Provides the details for a single employee.
     *
     * @param string $employeeId The employee's ID.
     *
     * @return V1Employee Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveEmployee(string $employeeId): V1Employee
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/me/employees/{employee_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('employee_id', $employeeId));

        $_resHandler = $this->responseHandler()->type(V1Employee::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $employeeId The ID of the role to modify.
     * @param V1Employee $body An object containing the fields to POST for the request. See the
     *        corresponding object definition for field details.
     *
     * @return V1Employee Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateEmployee(string $employeeId, V1Employee $body): V1Employee
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v1/me/employees/{employee_id}')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('employee_id', $employeeId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(V1Employee::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Provides summary information for all of a business's employee roles.
     *
     * @param string|null $order The order in which employees are listed in the response, based on
     *        their created_at field.Default value: ASC
     * @param int|null $limit The maximum integer number of employee entities to return in a single
     *        response. Default 100, maximum 200.
     * @param string|null $batchToken A pagination cursor to retrieve the next set of results for
     *        your
     *        original query to the endpoint.
     *
     * @return V1EmployeeRole[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listEmployeeRoles(?string $order = null, ?int $limit = null, ?string $batchToken = null): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/me/roles')
            ->auth('oauth2')
            ->parameters(
                QueryParam::init('order', $order),
                QueryParam::init('limit', $limit),
                QueryParam::init('batch_token', $batchToken)
            );

        $_resHandler = $this->responseHandler()->type(V1EmployeeRole::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates an employee role you can then assign to employees.
     *
     * Square accounts can include any number of roles that can be assigned to
     * employees. These roles define the actions and permissions granted to an
     * employee with that role. For example, an employee with a "Shift Manager"
     * role might be able to issue refunds in Square Point of Sale, whereas an
     * employee with a "Clerk" role might not.
     *
     * Roles are assigned with the [V1UpdateEmployee](https://developer.squareup.com/reference/square_2021-
     * 08-18/v1-employees-api/update-employee-role)
     * endpoint. An employee can have only one role at a time.
     *
     * If an employee has no role, they have none of the permissions associated
     * with roles. All employees can accept payments with Square Point of Sale.
     *
     * @param V1EmployeeRole $body An EmployeeRole object with a name and permissions, and an
     *        optional owner flag.
     *
     * @return V1EmployeeRole Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createEmployeeRole(V1EmployeeRole $body): V1EmployeeRole
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/me/roles')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(V1EmployeeRole::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Provides the details for a single employee role.
     *
     * @param string $roleId The role's ID.
     *
     * @return V1EmployeeRole Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function retrieveEmployeeRole(string $roleId): V1EmployeeRole
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/me/roles/{role_id}')
            ->auth('oauth2')
            ->parameters(TemplateParam::init('role_id', $roleId));

        $_resHandler = $this->responseHandler()->type(V1EmployeeRole::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Modifies the details of an employee role.
     *
     * @param string $roleId The ID of the role to modify.
     * @param V1EmployeeRole $body An object containing the fields to POST for the request. See the
     *        corresponding object definition for field details.
     *
     * @return V1EmployeeRole Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateEmployeeRole(string $roleId, V1EmployeeRole $body): V1EmployeeRole
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v1/me/roles/{role_id}')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('role_id', $roleId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(V1EmployeeRole::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
